Repository justin13888/Beam: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, biome-check

lefthook.yml:

# lefthook.yml
# Hooks run in parallel per stage; glob guards skip commands when no matching
# files are changed, keeping iteration fast without hardcoding paths.

# ── pre-commit ───────────────────────────────────────────────────────────────
# Fast, staged-file-scoped checks. Should complete in seconds.
pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "**/*.rs"
      run: cargo fmt --check
      fail_text: "Run `cargo fmt` to fix Rust formatting"

    biome-check:
      # Pass only staged files so biome checks the diff, not the whole tree.
      # Generated files (api.gen.ts, gql.ts, routeTree.gen.ts) are gitignored
      # and therefore never appear in staged_files.
      glob: "**/*.{ts,tsx,js,mjs,cjs,astro}"
      run: bun biome check {staged_files}
      fail_text: "Run `bun run check:fix` to auto-fix"

# ── pre-push ─────────────────────────────────────────────────────────────────
# CI-equivalent checks. Each command is gated on its relevant file types so
# pushing a docs-only change doesn't wait on Rust compilation.
pre-push:
  parallel: true
  commands:
    rust-clippy:
      glob: "{**/*.rs,**/Cargo.toml,Cargo.lock,rust-toolchain.toml}"
      run: cargo clippy --workspace --all-targets -- -D warnings
      fail_text: "Fix Clippy warnings before pushing"

    rust-test:
      glob: "{**/*.rs,**/Cargo.toml,Cargo.lock}"
      run: cargo test --workspace
      fail_text: "Fix failing tests before pushing"

    ts-full-check:
      # Full biome check (respects biome.json includes/excludes) triggered by
      # any JS/TS source or config change.
      glob: "**/*.{ts,tsx,js,mjs,cjs,astro,json}"
      run: bun run check
      fail_text: "Run `bun run check:fix` to auto-fix"

feat(client-core): demux Matroska and speak Apple's codec vocabulary
  Cargo.lock
  beam-client-core/Cargo.toml
  beam-client-core/fixtures/README.md
  beam-client-core/fixtures/h264.mkv
  beam-client-core/fixtures/h264_aac.mkv
  beam-client-core/fixtures/hevc.mkv
  beam-client-core/fixtures/vp9_opus.webm
  beam-client-core/src/capability/codec.rs
  beam-client-core/src/capability/mod.rs
  beam-client-core/src/demux/mkv.rs
  beam-client-core/src/demux/mod.rs
  beam-client-core/src/demux/reader.rs
  beam-client-core/src/error.rs
  beam-client-core/src/lib.rs
  beam-client-core/src/ports/byte_source.rs
  beam-client-core/src/ports/mod.rs
  rust-toolchain.toml
Due: rust-fmt

build(apple): cross-compile the core and generate its Swift bindings
  .gitignore
  mise.toml
Due: none

build(deps): finish the hk bump and drop two stale references
  biome.json
  docs/architecture/components.md
  hk.pkl
Due: none

docs(architecture): rewrap the biome .astro note to the file's column width
  docs/architecture/components.md
Due: none

feat(apple): BeamKit foundation, repositories and Liquid Glass system
  .gitignore
  beam-apple/.swift-format
  beam-apple/Packages/BeamKit/Package.swift
  beam-apple/Packages/BeamKit/Sources/BeamCore/BeamRepositories.swift
  beam-apple/Packages/BeamKit/Sources/BeamCore/Presentation.swift
  beam-apple/Packages/BeamKit/Sources/BeamCore/QualityPolicies.swift
  beam-apple/Packages/BeamKit/Sources/BeamCore/Repositories.swift
  beam-apple/Packages/BeamKit/Sources/BeamCore/ServiceContainer.swift
  beam-apple/Packages/BeamKit/Sources/BeamCore/UserDefaultsPreferencesRepository.swift
  beam-apple/Packages/BeamKit/Sources/BeamDesignSystem/BeamTheme.swift
  beam-apple/Packages/BeamKit/Sources/BeamDesignSystem/GlassSurfaces.swift
  beam-apple/Packages/BeamKit/Sources/BeamFFI/BeamClientFactory.swift
  beam-apple/Packages/BeamKit/Sources/BeamFFI/BeamFailure.swift
  beam-apple/Packages/BeamKit/Sources/BeamFFI/DeviceProfileFactory.swift
  beam-apple/Packages/BeamKit/Sources/BeamFFI/KeychainKeyValueStore.swift
  beam-apple/Packages/BeamKit/Sources/BeamModel/DownloadRecord.swift
  beam-apple/Packages/BeamKit/Sources/BeamModel/LoadState.swift
  beam-apple/Packages/BeamKit/Sources/BeamModel/PlaybackRequest.swift
  beam-apple/Packages/BeamKit/Sources/BeamModel/UserPreferences.swift
  beam-apple/Packages/BeamKit/Sources/BeamUI/BeamBadge.swift
  beam-apple/Packages/BeamKit/Sources/BeamUI/Formatting.swift
  beam-apple/Packages/BeamKit/Sources/BeamUI/MediaCard.swift
  beam-apple/Packages/BeamKit/Sources/BeamUI/PosterImage.swift
  beam-apple/Packages/BeamKit/Sources/BeamUI/StateViews.swift
  mise.toml
Due: none

feat(apple): own the player shell with two engines
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/AVPlayerEngine.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/ByteSources.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/CertificateTrust.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/DemuxPump.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/DownloadCoordinator.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/EngineSelector.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/NowPlayingCenter.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/PlaybackEngine.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/ProgressReporter.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/SampleBufferEngine.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/SampleBufferFormats.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/SubtitleCue.swift
Due: none

build(deps): refresh transitive cargo dependencies
  Cargo.lock
Due: none

feat(apple): app shell, navigation and the generated Xcode project
  beam-apple/Apps/Shared/BeamApp.swift
  beam-apple/Apps/iOS/Info.plist
  beam-apple/Apps/macOS/Beam.entitlements
  beam-apple/Apps/macOS/Info.plist
  beam-apple/Packages/BeamKit/Sources/BeamAppShell/AppModel.swift
  beam-apple/Packages/BeamKit/Sources/BeamAppShell/BeamRootView.swift
  beam-apple/Packages/BeamKit/Sources/BeamAppShell/Destinations.swift
  beam-apple/Packages/BeamKit/Sources/BeamCore/Browsing.swift
  beam-apple/Packages/BeamKit/Sources/BeamFFI/DeviceProfileFactory.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/AVPlayerEngine.swift
  beam-apple/project.yml
  mise.toml
Due: none

feat(apple): every screen beam-android ships, and the fakes to test them
  beam-apple/Packages/BeamKit/Sources/BeamTesting/FakePlaybackEngine.swift
  beam-apple/Packages/BeamKit/Sources/BeamTesting/FakeRepositories.swift
  beam-apple/Packages/BeamKit/Sources/BeamTesting/Fixtures.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamAdmin/AdminModel.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamAdmin/AdminScreen.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamAuth/AuthModel.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamAuth/AuthScreen.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamAuth/SignInWebView.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamAuth/TrustPrompt.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamDetail/DetailModel.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamDetail/DetailScreen.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamDetail/SourcePicker.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamDownloads/DownloadsScreen.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamExplore/ExploreModel.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamExplore/ExploreScreen.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamHistory/HistoryModel.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamHistory/HistoryScreen.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamHome/HomeModel.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamHome/HomeScreen.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamLibraries/LibrariesModel.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamLibraries/LibrariesScreen.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamPlayer/PlayerModel.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamPlayer/PlayerScreen.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamSettings/SettingsModel.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamSettings/SettingsScreen.swift
Due: none

test(apple): 54 hermetic tests plus a pinned snapshot tier
  beam-apple/Packages/BeamKit/Package.resolved
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/EngineSelector.swift
  beam-apple/Packages/BeamKit/Sources/BeamUI/Formatting.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamAuth/SignInWebView.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/ByteSourceTests.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/CertificateTrustTests.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/CookieLiftTests.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/DetailModelTests.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/EngineSelectorTests.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/ExploreModelTests.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/FormattingTests.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/PlayerModelTests.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/SampleBufferFormatsTests.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/SubtitleCueTests.swift
  beam-apple/Packages/BeamKit/Tests/SnapshotTests/SnapshotTests.swift
  beam-apple/Packages/BeamKit/Tests/SnapshotTests/__Snapshots__/SnapshotTests/testBadges.1.png
  beam-apple/Packages/BeamKit/Tests/SnapshotTests/__Snapshots__/SnapshotTests/testMediaCard.1.png
  beam-apple/Packages/BeamKit/Tests/SnapshotTests/__Snapshots__/SnapshotTests/testSourcePicker.1.png
  beam-apple/Packages/BeamKit/Tests/SnapshotTests/__Snapshots__/SnapshotTests/testStateViews.1.png
  mise.toml
Due: none

ci(apple): lint, test, snapshot and build on macOS runners
  .github/workflows/ci.yml
  hk.pkl
Due: none

docs: record the Apple client's two engines and its tvOS blockers
  README.md
  docs/architecture/components.md
  docs/architecture/decisions/ADR-0013-apple-client-two-engines.md
  docs/architecture/decisions/README.md
  docs/architecture/overview.md
  docs/requirements/non-functional.md
  docs/requirements/product.md
  docs/testing.md
Due: none

fix(apple): five defects a review pass found in the playback layer
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/DownloadCoordinator.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/SampleBufferEngine.swift
  beam-client-core/src/demux/mkv.rs
Due: rust-fmt

fix(ci): stop platform-specific tools failing every job's setup
  mise.toml
Due: none

fix(apple): type the package manifest explicitly so it compiles on CI
  beam-apple/Packages/BeamKit/Package.swift
Due: none

fix(apple): XcodeGen was silently replacing the plists and entitlements
  .github/workflows/ci.yml
  .gitignore
  beam-apple/Apps/iOS/Info.plist
  beam-apple/Apps/macOS/Beam.entitlements
  beam-apple/Apps/macOS/Info.plist
  beam-apple/Packages/BeamKit/Package.swift
  beam-apple/Packages/BeamKit/Tests/SnapshotTests/SnapshotTests.swift
  beam-apple/project.yml
  mise.toml
Due: none

fix(apple): build the package manifest with loops, not inference
  beam-apple/Packages/BeamKit/Package.swift
Due: none

ci(apple): install the iOS simulator runtime before using it
  .github/workflows/ci.yml
Due: none

test(apple): await the work instead of sleeping for it
  beam-apple/Packages/BeamKit/Sources/Features/BeamExplore/ExploreModel.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamPlayer/PlayerModel.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/ExploreModelTests.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/PlayerModelTests.swift
Due: none

refactor(server): serve ranged media through a ByteSource
  beam-server/src/routes/mod.rs
  beam-server/src/routes/stream.rs
Due: rust-fmt

refactor(server): port playback and admin, and describe the event stream
  beam-server/src/routes/admin.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/playback.rs
Due: rust-fmt

feat(server): observe HTTP metrics and describe the /metrics endpoint
  beam-server/src/routes/metrics_mw.rs
  beam-server/src/routes/tags.rs
Due: rust-fmt

style(server): format the Kynos port with rustfmt
  beam-server/src/models/media/stream.rs
  beam-server/src/routes/admin.rs
  beam-server/src/routes/auth.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/tags.rs
  beam-server/src/services/metadata.rs
  beam-server/src/services/playback.rs
Due: rust-fmt

test(server): convert every subcutaneous suite to the Kynos test client
  beam-server/src/bootstrap_tests.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/auth_tests.rs
  beam-server/src/routes/contract_tests.rs
  beam-server/src/routes/genres_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/metrics_mw_tests.rs
  beam-server/src/routes/middleware_tests.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/rate_limit_tests.rs
  beam-server/src/routes/stream_tests.rs
Due: rust-fmt

docs(agents): upstream kynos and spargen gaps rather than patching around them
  AGENTS.md
Due: none

refactor(server): carry the metrics handle and expose the clock on AppState
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/genres_tests.rs
  beam-server/src/routes/health_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/routes/test_support.rs
  beam-server/src/state.rs
  beam-server/src/state_tests.rs
Due: rust-fmt

build: export both specs, and stand beam-web down until it is regenerated
  .github/workflows/ci.yml
  beam-web/src/lib/apiClient.ts
  mise.toml
Due: biome-check

refactor(server): declare the same-origin check as an interceptor
  beam-server/src/routes/middleware.rs
  beam-server/src/routes/middleware_tests.rs
Due: rust-fmt

test(server): drive health through the Kynos test client
  beam-server/src/logging.rs
  beam-server/src/routes/health_tests.rs
  beam-server/src/routes/test_support.rs
Due: rust-fmt

fix(server): stop labelling a 416 problem document as video
  beam-server/Cargo.toml
  beam-server/src/routes/auth.rs
  beam-server/src/routes/metrics_mw.rs
  beam-server/src/routes/stream.rs
Due: rust-fmt

refactor(server): rewrite the OIDC adapter in beam-server
  Cargo.lock
  beam-server/Cargo.toml
  beam-server/src/routes/auth.rs
  beam-server/src/routes/mod.rs
Due: rust-fmt

feat(server): enforce rate limiting again, as a Kynos policy
  beam-auth/src/utils/pending_auth_store.rs
  beam-server/src/main.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/rate_limit.rs
Due: rust-fmt

fix(server)!: restore the route table and serve it on the Kynos runtime
  beam-auth/src/utils/pending_auth_store.rs
  beam-server/examples/export_openapi.rs
  beam-server/src/main.rs
  beam-server/src/routes/mod.rs
Due: rust-fmt

docs: record that Kynos is what Beam runs, and what the migration cost
  .cargo/mutants.toml
  beam-auth/README.md
  beam-domain/README.md
  beam-server/README.md
  docs/README.md
  docs/architecture/api.md
  docs/architecture/components.md
  docs/architecture/decisions/ADR-0002-rest-only-api.md
  docs/architecture/decisions/ADR-0010-openapi-3-2-kynos.md
  docs/architecture/decisions/ADR-0012-native-client-rust-core.md
  docs/architecture/decisions/README.md
  docs/architecture/kynos-migration-readiness.md
  docs/architecture/overview.md
  docs/operations/deployment.md
  docs/testing.md
Due: none

feat(client-core)!: regenerate the Rust client from the Kynos contract
  Cargo.lock
  Cargo.toml
  beam-client-core/Cargo.toml
  beam-client-core/api/openapi.json
  beam-client-core/build.rs
  beam-client-core/src/catalog.rs
  beam-client-core/src/ffi.rs
  beam-client-core/src/lib.rs
  beam-web/openapi.json
Due: rust-fmt

fix(auth): share one hex encoder for the digests rows are matched on
  beam-auth/src/utils/hex.rs
  beam-auth/src/utils/mod.rs
  beam-server/src/routes/auth.rs
Due: rust-fmt

ci: stand the beam-web hooks down in step with the ci task
  hk.pkl
Due: none

docs: reject adaptive streaming rather than defer it
  docs/README.md
  docs/architecture/decisions/ADR-0004-never-transcode.md
  docs/architecture/decisions/ADR-0014-adaptive-streaming-rejected.md
  docs/architecture/decisions/README.md
  docs/architecture/overview.md
  docs/architecture/streaming.md
  docs/requirements/functional.md
  docs/requirements/product.md
Due: none

build(client-core): inherit futures-core and uuid from the workspace
  beam-client-core/Cargo.toml
Due: none
