Repository justin13888/Beam: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, biome-check

lefthook.yml:

# lefthook.yml
# Hooks run in parallel per stage; glob guards skip commands when no matching
# files are changed, keeping iteration fast without hardcoding paths.

# ── pre-commit ───────────────────────────────────────────────────────────────
# Fast, staged-file-scoped checks. Should complete in seconds.
pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "**/*.rs"
      run: cargo fmt --check
      fail_text: "Run `cargo fmt` to fix Rust formatting"

    biome-check:
      # Pass only staged files so biome checks the diff, not the whole tree.
      # Generated files (api.gen.ts, gql.ts, routeTree.gen.ts) are gitignored
      # and therefore never appear in staged_files.
      glob: "**/*.{ts,tsx,js,mjs,cjs,astro}"
      run: bun biome check {staged_files}
      fail_text: "Run `bun run check:fix` to auto-fix"

# ── pre-push ─────────────────────────────────────────────────────────────────
# CI-equivalent checks. Each command is gated on its relevant file types so
# pushing a docs-only change doesn't wait on Rust compilation.
pre-push:
  parallel: true
  commands:
    rust-clippy:
      glob: "{**/*.rs,**/Cargo.toml,Cargo.lock,rust-toolchain.toml}"
      run: cargo clippy --workspace --all-targets -- -D warnings
      fail_text: "Fix Clippy warnings before pushing"

    rust-test:
      glob: "{**/*.rs,**/Cargo.toml,Cargo.lock}"
      run: cargo test --workspace
      fail_text: "Fix failing tests before pushing"

    ts-full-check:
      # Full biome check (respects biome.json includes/excludes) triggered by
      # any JS/TS source or config change.
      glob: "**/*.{ts,tsx,js,mjs,cjs,astro,json}"
      run: bun run check
      fail_text: "Run `bun run check:fix` to auto-fix"

fix(web): show the server's explanation to the people it was written for
  beam-web/src/components/RouteError.test.tsx
  beam-web/src/components/RouteError.tsx
  beam-web/src/routes/media.$id.tsx
Due: biome-check

build: run the web test suite in ci again
  mise.toml
Due: none

fix(server): stop reporting a malformed session id as an internal fault
  beam-auth/src/utils/contract.rs
  beam-auth/src/utils/session_store.rs
  beam-docs/src/content/docs/reference/errors.mdx
  beam-server/src/routes/auth.rs
  beam-server/src/routes/auth_tests.rs
Due: rust-fmt

test(server): stop the admin stub hiding the refresh 400
  beam-server/src/routes/admin_tests.rs
Due: rust-fmt

fix(server): give a malformed media id one answer, not two
  beam-docs/src/content/docs/reference/errors.mdx
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/media.rs
Due: rust-fmt

fix(client): honour Retry-After when a progress drain fails
  beam-client-core/src/ffi.rs
Due: rust-fmt

fix(client): give retryability one answer instead of three
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/BeamErrors.kt
  beam-apple/Packages/BeamKit/Sources/BeamFFI/BeamFailure.swift
  beam-client-core/src/error.rs
  beam-client-core/src/ffi.rs
Due: rust-fmt

fix(client): stop one request reading another's problem document
  beam-client-core/src/transport.rs
Due: rust-fmt

test(web): make the storage shim survive the suites that unstub globals
  beam-web/src/test/setup.ts
Due: biome-check

test(web): stop the doubles describing responses the server cannot send
  beam-web/src/routes/libraries.index.test.tsx
  beam-web/src/test/handlers.ts
Due: biome-check

fix(client)!: carry a Server status's retryability on the error
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/BeamErrors.kt
  beam-apple/Packages/BeamKit/Sources/BeamFFI/BeamFailure.swift
  beam-client-core/src/error.rs
  beam-client-core/src/transport.rs
Due: rust-fmt

test(client): update the platform doubles for the Server retryable field
  beam-android/core/ffi/src/test/kotlin/dev/beam/android/core/ffi/BeamErrorsTest.kt
  beam-android/feature/admin/src/test/kotlin/dev/beam/android/feature/admin/AdminTest.kt
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/BeamFailureTests.swift
Due: none

fix(android): drop the 404 split no client error can reach
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/BeamErrors.kt
  beam-android/core/ffi/src/test/kotlin/dev/beam/android/core/ffi/BeamErrorsTest.kt
Due: none

fix(apple): drop the 404 split no client error can reach
  beam-apple/Packages/BeamKit/Sources/BeamFFI/BeamFailure.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/BeamFailureTests.swift
Due: none

docs(web): say why the problem type is matched on its path
  beam-web/src/lib/problem.ts
Due: biome-check

refactor(web): drop the unreachable source-file-missing branch
  beam-web/src/lib/problem.test.ts
  beam-web/src/lib/problem.ts
Due: biome-check

ci: enforce the web tests in CI and the pre-push hook
  .github/workflows/ci.yml
  hk.pkl
  mise.toml
Due: none

fix(dev): normalise `compose port` output through one shared helper
  mise.toml
  scripts/compose.sh
Due: none

fix(server): answer a malformed artwork id 400 like every other media-id route
  beam-client-core/api/openapi.json
  beam-docs/src/content/docs/reference/errors.mdx
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/artwork.rs
  beam-server/src/routes/artwork_tests.rs
  beam-web/openapi.json
  docs/architecture/decisions/ADR-0015-artwork-served-by-beam.md
Due: rust-fmt

test(web): cover the error taxonomy's remaining edges
  beam-web/src/components/RouteError.test.tsx
  beam-web/src/lib/problem.test.ts
  beam-web/src/routes/profile.test.tsx
Due: biome-check

ci: run the compose invariants gate in CI and the pre-push hook
  .github/workflows/ci.yml
  hk.pkl
Due: none

docs(adr): amend ADR-0003 to record the dev Dex as opt-in
  docs/architecture/decisions/ADR-0003-oidc-bff-auth.md
Due: none

docs: drop Dex from the admin-group example
  docs/operations/deployment.md
Due: none

docs: make the dex.beam.localhost hosts-file guidance resolver-neutral
  README.md
  dex/config.yaml
Due: none

build(compose): fix the Dex port at 5556 and drop DEX_HOST_PORT
  compose.dependencies.yaml
  docs/operations/configuration.md
  docs/operations/deployment.md
  verify-config.sh
Due: none

fix(dev): pin BEAM_OIDC_ADMIN_VALUE so a root .env cannot demote every dev user
  mise.toml
Due: none

fix(server): report a refused artwork url as Beam's fault, not the provider's
  beam-docs/src/content/docs/reference/errors.mdx
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/artwork.rs
  beam-server/src/routes/artwork_tests.rs
Due: rust-fmt

test(compose): derive the gate's files from compose.yaml and check networks per file
  compose.beam.yaml
  compose.dependencies.yaml
  mise.toml
Due: none

fix(server): keep filesystem paths out of the library 400 detail
  beam-server/src/routes/admin.rs
  beam-server/src/services/library.rs
  beam-server/src/services/library_tests.rs
Due: rust-fmt

test(server): reach the malformed-id branches the taxonomy introduced
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/media_tests.rs
Due: rust-fmt

test(auth): pin a malformed session id to InvalidId in the store contract
  beam-auth/src/utils/contract.rs
Due: rust-fmt

docs: record the artwork 502 in the ratified API contract
  docs/architecture/api.md
  docs/architecture/decisions/ADR-0015-artwork-served-by-beam.md
Due: none

fix(client-core): scope the problem document to the call that made the request
  beam-client-core/src/ffi.rs
  beam-client-core/src/transport.rs
Due: rust-fmt

fix(client-core): queue a progress sample a credential or trust failure refused
  beam-client-core/src/error.rs
  beam-client-core/src/ffi.rs
Due: rust-fmt

fix(client-core): clamp Retry-After and saturate the queue's backoff
  beam-client-core/src/progress/queue.rs
  beam-client-core/src/transport.rs
Due: rust-fmt

docs: correct the taxonomy comments and prose that drifted from the code
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/auth.rs
  beam-server/src/routes/taxonomy_tests.rs
  docs/architecture/api.md
Due: rust-fmt

fix(client-core): document the problem slot where rustdoc can see it
  beam-client-core/src/transport.rs
Due: rust-fmt

build(android): move to Kotlin 2.4.10 and retire the 2.3 pin rationale
  beam-android/gradle/libs.versions.toml
Due: none

refactor(client-core): make the BeamSession credential the cookie's one owner
  beam-client-core/src/ffi.rs
  beam-client-core/src/transport.rs
Due: rust-fmt

build(deps): move FFmpeg to 9.0 everywhere it is built
  .github/actions/setup-ffmpeg/action.yml
  Cargo.lock
  Cargo.toml
  beam-server/Containerfile
Due: none
