Repository justin13888/Beam: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, biome-check

rust-fmt:
  run: cargo fmt --check
  fail_text: Run `cargo fmt` to fix Rust formatting

biome-check:
  run: bun biome check {staged_files}
  fail_text: Run `bun run check:fix` to auto-fix

feat(client-core): add up-next resolution and progress reporting
  beam-client-core/src/clock.rs
  beam-client-core/src/lib.rs
  beam-client-core/src/progress/mod.rs
  beam-client-core/src/progress/queue.rs
  beam-client-core/src/upnext.rs
Due: rust-fmt

build: cross-compile the client core for Android
  beam-android/.gitignore
  mise.toml
  rust-toolchain.toml
Due: none

feat(client-core): expose the core to Kotlin and Swift over UniFFI
  beam-client-core/src/ffi.rs
  beam-client-core/src/lib.rs
Due: rust-fmt

feat(client-core): generate the REST client from the OpenAPI contract
  Cargo.lock
  Cargo.toml
  beam-client-core/Cargo.toml
  beam-client-core/api/openapi.json
  beam-client-core/build.rs
  beam-client-core/src/lib.rs
Due: rust-fmt

build(client-core): bump spargen to 0.4.0
  Cargo.lock
  beam-client-core/Cargo.toml
Due: none

feat(client-core): add codec capability matching and source selection
  beam-client-core/src/capability/builders.rs
  beam-client-core/src/capability/codec.rs
  beam-client-core/src/capability/mod.rs
  beam-client-core/src/capability/select.rs
  beam-client-core/src/lib.rs
Due: rust-fmt

feat(client-core): add cursor pagination and the session transport
  beam-client-core/src/lib.rs
  beam-client-core/src/paging.rs
  beam-client-core/src/transport.rs
Due: rust-fmt

feat(client-core): add the error taxonomy, storage port, and trust model
  Cargo.lock
  beam-client-core/Cargo.toml
  beam-client-core/src/bin/uniffi-bindgen.rs
  beam-client-core/src/error.rs
  beam-client-core/src/lib.rs
  beam-client-core/src/ports/kv.rs
  beam-client-core/src/ports/mod.rs
  beam-client-core/src/trust.rs
Due: rust-fmt

fix(client-core): install a TLS provider and implement the trust decision
  Cargo.lock
  beam-client-core/Cargo.toml
  beam-client-core/src/ffi.rs
  beam-client-core/src/lib.rs
  beam-client-core/src/tls.rs
Due: rust-fmt

feat(android): add shared UI components and stateful test fakes
  beam-android/core/testing/src/main/kotlin/dev/beam/android/core/testing/FakeRepositories.kt
  beam-android/core/testing/src/main/kotlin/dev/beam/android/core/testing/Fixtures.kt
  beam-android/core/ui/build.gradle.kts
  beam-android/core/ui/src/main/kotlin/dev/beam/android/core/ui/Collections.kt
  beam-android/core/ui/src/main/kotlin/dev/beam/android/core/ui/ContinueWatchingCard.kt
  beam-android/core/ui/src/main/kotlin/dev/beam/android/core/ui/Formatting.kt
  beam-android/core/ui/src/main/kotlin/dev/beam/android/core/ui/MediaCard.kt
Due: none

feat(client-core): expose the full catalog, playback, and admin surface
  beam-client-core/Cargo.toml
  beam-client-core/src/catalog.rs
  beam-client-core/src/ffi.rs
  beam-client-core/src/lib.rs
Due: rust-fmt

feat(android): add the design system and shared model types
  beam-android/build-logic/convention/src/main/kotlin/KotlinAndroid.kt
  beam-android/core/designsystem/src/main/kotlin/dev/beam/android/core/designsystem/Color.kt
  beam-android/core/designsystem/src/main/kotlin/dev/beam/android/core/designsystem/Shape.kt
  beam-android/core/designsystem/src/main/kotlin/dev/beam/android/core/designsystem/Spacing.kt
  beam-android/core/designsystem/src/main/kotlin/dev/beam/android/core/designsystem/Theme.kt
  beam-android/core/designsystem/src/main/kotlin/dev/beam/android/core/designsystem/Type.kt
  beam-android/core/designsystem/src/main/kotlin/dev/beam/android/core/designsystem/component/Artwork.kt
  beam-android/core/designsystem/src/main/kotlin/dev/beam/android/core/designsystem/component/Badges.kt
  beam-android/core/designsystem/src/main/kotlin/dev/beam/android/core/designsystem/component/Section.kt
  beam-android/core/designsystem/src/main/kotlin/dev/beam/android/core/designsystem/component/Shimmer.kt
  beam-android/core/designsystem/src/main/kotlin/dev/beam/android/core/designsystem/component/StateViews.kt
  beam-android/core/model/src/main/kotlin/dev/beam/android/core/model/Download.kt
  beam-android/core/model/src/main/kotlin/dev/beam/android/core/model/LoadState.kt
  beam-android/core/model/src/main/kotlin/dev/beam/android/core/model/PlaybackRequest.kt
  beam-android/core/model/src/main/kotlin/dev/beam/android/core/model/Preferences.kt
Due: none

feat(android): add the playback engine, media session, and offline downloads
  beam-android/core/media/build.gradle.kts
  beam-android/core/media/src/main/AndroidManifest.xml
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/di/MediaModule.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/download/BeamDownloadManager.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/download/BeamDownloadService.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/download/DownloadRepository.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/download/DownloadTitleStore.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/http/BeamDataSources.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/http/TofuTrustManager.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/player/BeamPlayer.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/player/ExoBeamPlayer.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/player/PlaybackState.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/player/ProgressReporter.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/session/PlaybackService.kt
  beam-android/core/media/src/test/kotlin/dev/beam/android/core/media/download/DownloadRecordTest.kt
  beam-android/core/media/src/test/kotlin/dev/beam/android/core/media/http/TofuTrustManagerTest.kt
  beam-android/core/media/src/test/kotlin/dev/beam/android/core/media/player/PlaybackUiStateTest.kt
  beam-android/core/media/src/test/kotlin/dev/beam/android/core/media/player/ProgressReporterTest.kt
  beam-android/core/testing/src/main/kotlin/dev/beam/android/core/testing/FakeRepositories.kt
  beam-android/core/testing/src/main/kotlin/dev/beam/android/core/testing/Fixtures.kt
  beam-client-core/src/ffi.rs
  beam-client-core/src/lib.rs
Due: rust-fmt

build(android): scaffold the Gradle project and convention plugins
  beam-android/app/build.gradle.kts
  beam-android/build-logic/convention/build.gradle.kts
  beam-android/build-logic/convention/src/main/kotlin/AndroidApplicationConventionPlugin.kt
  beam-android/build-logic/convention/src/main/kotlin/AndroidComposeConventionPlugin.kt
  beam-android/build-logic/convention/src/main/kotlin/AndroidFeatureConventionPlugin.kt
  beam-android/build-logic/convention/src/main/kotlin/AndroidHiltConventionPlugin.kt
  beam-android/build-logic/convention/src/main/kotlin/AndroidLibraryConventionPlugin.kt
  beam-android/build-logic/convention/src/main/kotlin/JvmLibraryConventionPlugin.kt
  beam-android/build-logic/convention/src/main/kotlin/KotlinAndroid.kt
  beam-android/build-logic/settings.gradle.kts
  beam-android/build.gradle.kts
  beam-android/core/designsystem/build.gradle.kts
  beam-android/core/ffi/build.gradle.kts
  beam-android/core/media/build.gradle.kts
  beam-android/core/model/build.gradle.kts
  beam-android/core/testing/build.gradle.kts
  beam-android/core/ui/build.gradle.kts
  beam-android/feature/admin/build.gradle.kts
  beam-android/feature/auth/build.gradle.kts
  beam-android/feature/detail/build.gradle.kts
  beam-android/feature/downloads/build.gradle.kts
  beam-android/feature/explore/build.gradle.kts
  beam-android/feature/history/build.gradle.kts
  beam-android/feature/home/build.gradle.kts
  beam-android/feature/libraries/build.gradle.kts
  beam-android/feature/player/build.gradle.kts
  beam-android/feature/settings/build.gradle.kts
  beam-android/gradle.properties
  beam-android/gradle/libs.versions.toml
  beam-android/gradle/wrapper/gradle-wrapper.jar
  beam-android/gradle/wrapper/gradle-wrapper.properties
  beam-android/gradlew
  beam-android/gradlew.bat
  beam-android/settings.gradle.kts
Due: none

feat(android): wire the core to the platform behind a repository seam
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/BeamErrors.kt
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/DeviceProfiles.kt
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/di/FfiModule.kt
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/preferences/PreferencesRepository.kt
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/repository/BeamRepositories.kt
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/repository/Repositories.kt
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/storage/DataStoreKeyValueStore.kt
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/storage/SecretCipher.kt
  beam-client-core/src/catalog.rs
  beam-client-core/src/error.rs
  beam-client-core/src/ffi.rs
  beam-client-core/src/ports/kv.rs
  beam-client-core/src/progress/queue.rs
  beam-client-core/src/servers.rs
  beam-client-core/src/transport.rs
Due: rust-fmt

test(android): cover paging, home rows, and the cross-compile profile trap
  beam-android/core/testing/src/main/kotlin/dev/beam/android/core/testing/FakeRepositories.kt
  beam-android/feature/explore/src/test/kotlin/dev/beam/android/feature/explore/ExploreViewModelTest.kt
  beam-android/feature/home/src/test/kotlin/dev/beam/android/feature/home/HomeViewModelTest.kt
  mise.toml
Due: none

feat(android): add detail, player, downloads, history, settings, admin, and the shell
  beam-android/app/build.gradle.kts
  beam-android/app/src/main/AndroidManifest.xml
  beam-android/app/src/main/kotlin/dev/beam/android/BeamApplication.kt
  beam-android/app/src/main/kotlin/dev/beam/android/MainActivity.kt
  beam-android/app/src/main/kotlin/dev/beam/android/MainViewModel.kt
  beam-android/app/src/main/kotlin/dev/beam/android/navigation/Destinations.kt
  beam-android/app/src/main/kotlin/dev/beam/android/ui/BeamApp.kt
  beam-android/app/src/main/kotlin/dev/beam/android/widget/ContinueWatchingWidget.kt
  beam-android/app/src/main/res/drawable/ic_launcher_background.xml
  beam-android/app/src/main/res/drawable/ic_launcher_foreground.xml
  beam-android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  beam-android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  beam-android/app/src/main/res/resources.properties
  beam-android/app/src/main/res/values/colors.xml
  beam-android/app/src/main/res/values/strings.xml
  beam-android/app/src/main/res/values/themes.xml
  beam-android/app/src/main/res/xml/continue_watching_widget_info.xml
  beam-android/feature/admin/src/main/kotlin/dev/beam/android/feature/admin/AdminScreen.kt
  beam-android/feature/admin/src/main/kotlin/dev/beam/android/feature/admin/AdminViewModel.kt
  beam-android/feature/detail/build.gradle.kts
  beam-android/feature/detail/src/main/kotlin/dev/beam/android/feature/detail/DetailScreen.kt
  beam-android/feature/detail/src/main/kotlin/dev/beam/android/feature/detail/DetailViewModel.kt
  beam-android/feature/detail/src/main/kotlin/dev/beam/android/feature/detail/QualityPolicies.kt
  beam-android/feature/detail/src/main/kotlin/dev/beam/android/feature/detail/SourcePicker.kt
  beam-android/feature/downloads/build.gradle.kts
  beam-android/feature/downloads/src/main/kotlin/dev/beam/android/feature/downloads/DownloadsScreen.kt
  beam-android/feature/downloads/src/main/kotlin/dev/beam/android/feature/downloads/DownloadsViewModel.kt
  beam-android/feature/history/src/main/kotlin/dev/beam/android/feature/history/HistoryScreen.kt
  beam-android/feature/history/src/main/kotlin/dev/beam/android/feature/history/HistoryViewModel.kt
  beam-android/feature/player/build.gradle.kts
  beam-android/feature/player/src/main/kotlin/dev/beam/android/feature/player/PlayerRoute.kt
  beam-android/feature/player/src/main/kotlin/dev/beam/android/feature/player/PlayerScreen.kt
  beam-android/feature/player/src/main/kotlin/dev/beam/android/feature/player/PlayerViewModel.kt
  beam-android/feature/player/src/main/kotlin/dev/beam/android/feature/player/VideoSurface.kt
  beam-android/feature/settings/src/main/kotlin/dev/beam/android/feature/settings/SettingsScreen.kt
  beam-android/feature/settings/src/main/kotlin/dev/beam/android/feature/settings/SettingsViewModel.kt
  beam-android/gradle/libs.versions.toml
Due: none

ci: run the Android checks and ship the APK with the release
  .github/actions/setup-android/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  beam-android/build-logic/convention/src/main/kotlin/AndroidApplicationConventionPlugin.kt
  hk.pkl
  mise.toml
Due: none

docs: ratify ADR-0011 and correct what the Android client falsifies
  README.md
  beam-client-core/src/lib.rs
  docs/architecture/api.md
  docs/architecture/components.md
  docs/architecture/decisions/ADR-0011-native-client-rust-core.md
  docs/architecture/overview.md
  docs/architecture/streaming.md
  docs/requirements/non-functional.md
  docs/requirements/product.md
  docs/testing.md
Due: rust-fmt

fix(client-core): check the whole certificate validity window, not just expiry
  beam-client-core/src/tls.rs
Due: rust-fmt

fix(android): make the release build produce a correct APK
  beam-android/.gitignore
  beam-android/app/proguard-rules.pro
  beam-android/core/ffi/build.gradle.kts
  mise.toml
Due: none

build(android): ignore the Kotlin compiler daemon's session files
  beam-android/.gitignore
Due: none

fix(deps): patch the h2 DoS advisory and allow MIT-0
  Cargo.lock
  deny.toml
Due: none

docs: renumber the native-client ADR to 0012
  docs/architecture/components.md
  docs/architecture/decisions/ADR-0012-native-client-rust-core.md
  docs/architecture/decisions/README.md
  docs/architecture/overview.md
  docs/requirements/non-functional.md
  docs/requirements/product.md
Due: none

refactor(android): let Gradle be the only place the cargo profile is chosen
  mise.toml
Due: none

fix(client-core): persist a server to the registry index when it is added
  beam-client-core/src/ffi.rs
Due: rust-fmt

docs(android): record that the emulator can segfault on a headless host
  mise.toml
Due: none

feat(android): make downloads, history, admin, and library contents reachable
  beam-android/app/src/main/kotlin/dev/beam/android/ui/BeamApp.kt
  beam-android/core/testing/src/main/kotlin/dev/beam/android/core/testing/FakeRepositories.kt
  beam-android/core/testing/src/main/kotlin/dev/beam/android/core/testing/Fixtures.kt
  beam-android/feature/detail/src/main/kotlin/dev/beam/android/feature/detail/DetailScreen.kt
  beam-android/feature/detail/src/main/kotlin/dev/beam/android/feature/detail/DetailViewModel.kt
  beam-android/feature/detail/src/test/kotlin/dev/beam/android/feature/detail/DetailTest.kt
  beam-android/feature/libraries/src/main/kotlin/dev/beam/android/feature/libraries/LibraryDetailScreen.kt
  beam-android/feature/libraries/src/main/kotlin/dev/beam/android/feature/libraries/LibraryDetailViewModel.kt
  beam-android/feature/libraries/src/test/kotlin/dev/beam/android/feature/libraries/LibrariesTest.kt
  beam-android/feature/settings/src/main/kotlin/dev/beam/android/feature/settings/SettingsScreen.kt
Due: none

fix: satisfy the gates this branch had not yet met
  Cargo.lock
  beam-client-core/Cargo.toml
  beam-client-core/src/capability/mod.rs
  beam-client-core/src/clock.rs
  beam-client-core/src/ports/kv.rs
  beam-web/openapi.json
Due: rust-fmt

fix(client-core): exclude the capability builders by path, not by attribute
  .cargo/mutants.toml
  beam-client-core/src/capability/mod.rs
  mise.toml
Due: rust-fmt

refactor(auth): encode digests to hex explicitly instead of via LowerHex
  beam-auth/src/server/oidc_routes.rs
  beam-auth/src/utils/hex.rs
  beam-auth/src/utils/mod.rs
  beam-auth/src/utils/session_store.rs
Due: rust-fmt

build(deps): bump cargo dependencies
  Cargo.lock
  Cargo.toml
  beam-auth/Cargo.toml
  beam-client-core/Cargo.toml
  beam-domain/Cargo.toml
  beam-index/Cargo.toml
  beam-migration/Cargo.toml
  beam-server/Cargo.toml
Due: none

build(deps): bump pinned tools and container base images
  .github/workflows/ci.yml
  beam-web/Containerfile
  compose.dependencies.yaml
  mise.toml
Due: none

build(deps): bump bun workspace dependencies
  beam-web/package.json
  beam-web/src/routeTree.gen.ts
  biome.json
  bun.lock
  package.json
Due: biome-check

build(deps): upgrade the docs site to astro 7
  beam-docs/astro.config.mjs
  beam-docs/package.json
  beam-docs/postcss.config.mjs
  bun.lock
Due: biome-check

build(deps): bump github actions
  .github/actions/bun-install/action.yml
  .github/actions/install-rust-build-deps/action.yml
  .github/actions/setup-android/action.yml
  .github/actions/setup-ffmpeg/action.yml
  .github/workflows/ci.yml
  .github/workflows/mutants.yml
  .github/workflows/release.yml
Due: none

build(deps): bump android version catalog
  beam-android/gradle/libs.versions.toml
Due: none

build(deps): track the android gradle catalog with dependabot
  .github/dependabot.yml
Due: none

Path conditions:
  rust-fmt: any of: **/*.rs
  biome-check: any of: **/*.{ts,tsx,js,mjs,cjs,astro}
