Repository justin13888/Beam: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, biome-check

lefthook.yml:

# lefthook.yml
# Hooks run in parallel per stage; glob guards skip commands when no matching
# files are changed, keeping iteration fast without hardcoding paths.

# ── pre-commit ───────────────────────────────────────────────────────────────
# Fast, staged-file-scoped checks. Should complete in seconds.
pre-commit:
  parallel: true
  commands:
    rust-fmt:
      glob: "**/*.rs"
      run: cargo fmt --check
      fail_text: "Run `cargo fmt` to fix Rust formatting"

    biome-check:
      # Pass only staged files so biome checks the diff, not the whole tree.
      # Generated files (api.gen.ts, gql.ts, routeTree.gen.ts) are gitignored
      # and therefore never appear in staged_files.
      glob: "**/*.{ts,tsx,js,mjs,cjs,astro}"
      run: bun biome check {staged_files}
      fail_text: "Run `bun run check:fix` to auto-fix"

# ── pre-push ─────────────────────────────────────────────────────────────────
# CI-equivalent checks. Each command is gated on its relevant file types so
# pushing a docs-only change doesn't wait on Rust compilation.
pre-push:
  parallel: true
  commands:
    rust-clippy:
      glob: "{**/*.rs,**/Cargo.toml,Cargo.lock,rust-toolchain.toml}"
      run: cargo clippy --workspace --all-targets -- -D warnings
      fail_text: "Fix Clippy warnings before pushing"

    rust-test:
      glob: "{**/*.rs,**/Cargo.toml,Cargo.lock}"
      run: cargo test --workspace
      fail_text: "Fix failing tests before pushing"

    ts-full-check:
      # Full biome check (respects biome.json includes/excludes) triggered by
      # any JS/TS source or config change.
      glob: "**/*.{ts,tsx,js,mjs,cjs,astro,json}"
      run: bun run check
      fail_text: "Run `bun run check:fix` to auto-fix"

refactor(stream): delete HLS/transcode/fMP4-remux machinery; direct-play only
  Cargo.lock
  beam-entity/src/files.rs
  beam-entity/src/lib.rs
  beam-entity/src/stream_cache.rs
  beam-index/examples/metadata_extractor.rs
  beam-index/src/probe/mod.rs
  beam-migration/src/lib.rs
  beam-migration/src/m20260704_000001_drop_stream_cache.rs
  beam-server/Cargo.toml
  beam-server/examples/gen_hls.rs
  beam-server/examples/gen_mp4.rs
  beam-server/src/graphql/auth_tests.rs
  beam-server/src/graphql/resolver_tests.rs
  beam-server/src/main.rs
  beam-server/src/models/media/stream.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/services/mod.rs
  beam-server/src/services/transcode.rs
  beam-server/src/services/transcode_tests.rs
  beam-server/src/state.rs
  beam-server/src/utils/math.rs
  beam-server/src/utils/mod.rs
  beam-server/src/utils/stream/config.rs
  beam-server/src/utils/stream/hls.rs
  beam-server/src/utils/stream/mod.rs
  beam-server/src/utils/stream/mp4.rs
Due: rust-fmt

refactor(auth): move sessions from Redis to Postgres
  Cargo.lock
  Cargo.toml
  beam-auth/Cargo.toml
  beam-auth/src/utils/session_store.rs
  beam-entity/src/lib.rs
  beam-entity/src/session.rs
  beam-entity/src/user.rs
  beam-migration/src/lib.rs
  beam-migration/src/m20260704_000002_create_sessions.rs
  beam-server/src/config.rs
  beam-server/src/graphql/auth_tests.rs
  beam-server/src/graphql/resolver_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/state.rs
  compose.beam.yaml
  compose.dependencies.yaml
Due: rust-fmt

feat(domain,index): scene-name filename parser; classifier stores clean titles and years
  Cargo.lock
  beam-domain/Cargo.toml
  beam-domain/src/models/movie.rs
  beam-domain/src/models/show.rs
  beam-domain/src/repositories/movie.rs
  beam-domain/src/repositories/show.rs
  beam-domain/src/utils/filename.rs
  beam-domain/src/utils/mod.rs
  beam-index/src/repositories/movie.rs
  beam-index/src/repositories/show.rs
  beam-index/src/services/index.rs
Due: rust-fmt

feat(db): enrichment state, genres, anilist ids
  beam-domain/src/models/enrichment.rs
  beam-domain/src/models/genre.rs
  beam-domain/src/models/mod.rs
  beam-domain/src/repositories/enrichment.rs
  beam-domain/src/repositories/genre.rs
  beam-domain/src/repositories/mod.rs
  beam-entity/src/lib.rs
  beam-entity/src/metadata_enrichment.rs
  beam-entity/src/movie.rs
  beam-entity/src/show.rs
  beam-index/src/repositories/enrichment.rs
  beam-index/src/repositories/genre.rs
  beam-index/src/repositories/mod.rs
  beam-migration/src/lib.rs
  beam-migration/src/m20260704_000003_metadata_enrichment.rs
  docs/architecture/data-model.md
Due: rust-fmt

feat(index): enrichment pipeline (trait, matcher, worker, refresh)
  beam-domain/src/models/admin_log.rs
  beam-domain/src/models/movie.rs
  beam-domain/src/models/show.rs
  beam-domain/src/providers/enrichment.rs
  beam-domain/src/providers/metadata.rs
  beam-domain/src/providers/mod.rs
  beam-domain/src/repositories/movie.rs
  beam-domain/src/repositories/show.rs
  beam-entity/src/admin_log.rs
  beam-index/src/repositories/movie.rs
  beam-index/src/repositories/show.rs
  beam-index/src/runtime.rs
  beam-index/src/services/enrichment/matcher.rs
  beam-index/src/services/enrichment/mod.rs
  beam-index/src/services/index.rs
  beam-index/src/services/mod.rs
  beam-migration/src/lib.rs
  beam-migration/src/m20260704_000004_add_enrichment_admin_log_category.rs
  beam-server/src/config.rs
  beam-server/src/graphql/auth_tests.rs
  beam-server/src/graphql/resolver_tests.rs
  beam-server/src/graphql/schema/admin/queries.rs
  beam-server/src/main.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/services/metadata.rs
  beam-server/src/services/metadata_tests.rs
  beam-server/src/state.rs
Due: rust-fmt

feat(index): cameo v0.2.0 adapter + wiring
  Cargo.lock
  beam-index/Cargo.toml
  beam-index/src/lib.rs
  beam-index/src/providers/cameo.rs
  beam-index/src/providers/mod.rs
  beam-server/src/config.rs
  beam-server/src/graphql/auth_tests.rs
  beam-server/src/graphql/resolver_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/state.rs
  docs/architecture/decisions/ADR-0006-cameo-enrichment.md
  docs/operations/configuration.md
Due: rust-fmt

fix(index): persist stream color/HDR/default/forced flags
  beam-index/src/probe/color.rs
  beam-index/src/probe/format.rs
  beam-index/src/services/index.rs
Due: rust-fmt

feat(server): REST v1 conventions + media browse/detail/sources API
  beam-server/src/graphql/auth_tests.rs
  beam-server/src/models/media/codec.rs
  beam-server/src/models/media/format.rs
  beam-server/src/models/media/mod.rs
  beam-server/src/models/media/movie.rs
  beam-server/src/models/media/show.rs
  beam-server/src/models/media/source.rs
  beam-server/src/models/media/stream.rs
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/media.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/services/metadata.rs
  beam-server/src/services/metadata_tests.rs
Due: rust-fmt

feat(index): server-side search (pg_trgm)
  beam-domain/src/models/mod.rs
  beam-domain/src/models/movie.rs
  beam-domain/src/models/search.rs
  beam-domain/src/models/show.rs
  beam-domain/src/repositories/movie.rs
  beam-domain/src/repositories/show.rs
  beam-index/src/repositories/movie.rs
  beam-index/src/repositories/show.rs
  beam-migration/src/lib.rs
  beam-migration/src/m20260704_000005_enable_pg_trgm.rs
  beam-server/src/services/metadata.rs
Due: rust-fmt

feat(server): admin API (library CRUD/scan, logs, SSE events)
  Cargo.lock
  Cargo.toml
  beam-server/Cargo.toml
  beam-server/src/models/admin.rs
  beam-server/src/models/library/mod.rs
  beam-server/src/models/mod.rs
  beam-server/src/routes/admin.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/mod.rs
Due: rust-fmt

feat(server): playback progress + continue-watching
  beam-domain/src/models/mod.rs
  beam-domain/src/models/playback_progress.rs
  beam-domain/src/repositories/mod.rs
  beam-domain/src/repositories/movie.rs
  beam-domain/src/repositories/playback_progress.rs
  beam-domain/src/repositories/show.rs
  beam-entity/src/lib.rs
  beam-entity/src/playback_progress.rs
  beam-index/src/repositories/mod.rs
  beam-index/src/repositories/movie.rs
  beam-index/src/repositories/playback_progress.rs
  beam-index/src/repositories/show.rs
  beam-migration/src/lib.rs
  beam-migration/src/m20260704_000006_playback_progress.rs
  beam-server/src/graphql/auth_tests.rs
  beam-server/src/graphql/resolver_tests.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/playback.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/services/mod.rs
  beam-server/src/services/playback.rs
  beam-server/src/services/playback_tests.rs
  beam-server/src/state.rs
Due: rust-fmt

feat(stream): direct-play stream + download endpoints
  beam-server/src/models/media/source.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/services/metadata.rs
  beam-server/src/services/metadata_tests.rs
  beam-web/src/routes/media.$id.tsx
Due: rust-fmt, biome-check

refactor(web): migrate data layer to REST client, remove GraphQL + demo scaffold
  beam-server/src/routes/admin.rs
  beam-server/src/routes/playback.rs
  beam-web/codegen.ts
  beam-web/index.html
  beam-web/package.json
  beam-web/public/logo192.png
  beam-web/public/logo512.png
  beam-web/public/manifest.json
  beam-web/public/tanstack-circle-logo.png
  beam-web/src/components/Header.tsx
  beam-web/src/components/demo.FormComponents.tsx
  beam-web/src/hooks/demo.form-context.ts
  beam-web/src/hooks/demo.form.ts
  beam-web/src/main.tsx
  beam-web/src/reportWebVitals.ts
  beam-web/src/routeTree.gen.ts
  beam-web/src/routes/__root.tsx
  beam-web/src/routes/admin.tsx
  beam-web/src/routes/demo/form.address.tsx
  beam-web/src/routes/demo/form.simple.tsx
  beam-web/src/routes/demo/tanstack-query.tsx
  beam-web/src/routes/explore.tsx
  beam-web/src/routes/index.tsx
  beam-web/src/routes/libraries.$id.tsx
  beam-web/src/routes/libraries.tsx
  beam-web/src/routes/login.test.tsx
  beam-web/src/routes/login.tsx
  beam-web/src/routes/media.$id.tsx
  bun.lock
Due: rust-fmt, biome-check

refactor(server): delete GraphQL stack (ADR-0002)
  .github/workflows/typescript.yml
  Cargo.lock
  Cargo.toml
  README.md
  beam-index/Cargo.toml
  beam-index/src/services/notification.rs
  beam-server/Cargo.toml
  beam-server/README.md
  beam-server/src/bin/export_schema.rs
  beam-server/src/graphql/auth_tests.rs
  beam-server/src/graphql/guard.rs
  beam-server/src/graphql/mod.rs
  beam-server/src/graphql/resolver_tests.rs
  beam-server/src/graphql/schema/admin/mod.rs
  beam-server/src/graphql/schema/admin/queries.rs
  beam-server/src/graphql/schema/admin/subscriptions.rs
  beam-server/src/graphql/schema/library/mod.rs
  beam-server/src/graphql/schema/library/mutations.rs
  beam-server/src/graphql/schema/library/queries.rs
  beam-server/src/graphql/schema/media/mod.rs
  beam-server/src/graphql/schema/media/mutations.rs
  beam-server/src/graphql/schema/media/queries.rs
  beam-server/src/graphql/schema/mod.rs
  beam-server/src/lib.rs
  beam-server/src/main.rs
  beam-server/src/models/library/file.rs
  beam-server/src/models/library/mod.rs
  beam-server/src/models/media/codec.rs
  beam-server/src/models/media/format.rs
  beam-server/src/models/media/mod.rs
  beam-server/src/models/media/movie.rs
  beam-server/src/models/media/show.rs
  beam-server/src/models/media/stream.rs
  beam-server/src/routes/graphql.rs
  beam-server/src/routes/graphql_ws.rs
  beam-server/src/routes/mod.rs
  beam-server/src/services/metadata.rs
  beam-server/src/state.rs
Due: rust-fmt

feat(auth): OIDC BFF server-side, coexisting with legacy password auth
  Cargo.lock
  beam-auth/Cargo.toml
  beam-auth/src/server/mod.rs
  beam-auth/src/server/oidc_routes.rs
  beam-auth/src/server/oidc_routes_tests.rs
  beam-auth/src/server/routes.rs
  beam-auth/src/utils/admin_allowlist.rs
  beam-auth/src/utils/mod.rs
  beam-auth/src/utils/models.rs
  beam-auth/src/utils/oidc.rs
  beam-auth/src/utils/pending_auth_store.rs
  beam-auth/src/utils/repository.rs
  beam-auth/src/utils/service.rs
  beam-auth/src/utils/session_store.rs
  beam-entity/src/lib.rs
  beam-entity/src/pending_auth.rs
  beam-entity/src/session.rs
  beam-entity/src/user.rs
  beam-migration/src/lib.rs
  beam-migration/src/m20260705_000001_oidc_auth.rs
  beam-server/src/config.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/middleware.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/state.rs
  compose.dependencies.yaml
  dex/config.yaml
Due: rust-fmt

feat(web): Vidstack player + source picker, resume, and continue-watching
  beam-web/package.json
  beam-web/src/components/ContinueWatchingRow.tsx
  beam-web/src/components/VideoPlayer.tsx
  beam-web/src/hooks/usePlaybackBeacon.test.ts
  beam-web/src/hooks/usePlaybackBeacon.ts
  beam-web/src/lib/utils.test.ts
  beam-web/src/lib/utils.ts
  beam-web/src/routes/index.tsx
  beam-web/src/routes/media.$id.tsx
  bun.lock
Due: biome-check

feat(web): instant search UI
  beam-web/src/hooks/useDebouncedValue.test.ts
  beam-web/src/hooks/useDebouncedValue.ts
  beam-web/src/routes/explore.tsx
Due: biome-check

feat(web): admin live activity feed (SSE) + per-title metadata refresh
  beam-web/src/hooks/useAdminEventStream.test.ts
  beam-web/src/hooks/useAdminEventStream.ts
  beam-web/src/routes/admin.tsx
  beam-web/src/routes/media.$id.tsx
Due: biome-check

ci: enforce coverage thresholds, calibrated against a real measurement
  .github/workflows/rust.yml
  beam-web/vitest.config.ts
  biome.json
  docs/testing/coverage.md
Due: biome-check

ci: hook/CI parity + supply-chain scanning (cargo-deny, dependabot)
  .github/actions/setup-ffmpeg/action.yml
  .github/dependabot.yml
  .github/workflows/rust.yml
  Cargo.lock
  beam-entity/Cargo.toml
  beam-migration/Cargo.toml
  bun.lock
  deny.toml
  docs/operations/ci.md
  lefthook.yml
  package.json
Due: none

chore: config/docs cleanup pass
  AGENTS.md
  README.md
  beam-auth/README.md
  beam-docs/astro.config.mjs
  beam-docs/src/content/docs/development/caching.md
  beam-docs/src/content/docs/development/streaming.md
  beam-docs/src/content/docs/guides/example.md
  beam-docs/src/content/docs/index.mdx
  beam-domain/README.md
  beam-entity/README.md
  beam-index/README.md
  beam-migration/README.md
  beam-server/src/main.rs
  beam-web/README.md
  biome.json
  compose.beam.yaml
  docs/components/docs-site.md
  verify-config.sh
Due: rust-fmt, biome-check

docs: fix drift in the e2e-validation runbook
  docs/operations/e2e-validation.md
Due: none

fix(auth): close TOCTOU race in pending-auth consumption, warn on cookie-Secure misconfig
  beam-auth/src/utils/pending_auth_store.rs
  beam-server/src/main.rs
Due: rust-fmt

ci(hooks): build FFmpeg vendored in pre-push for hermetic, system-lib-free local checks
  docs/operations/ci.md
  docs/operations/dev-setup.md
  lefthook.yml
Due: none

Update README to include client platforms
  README.md
Due: none

fix(server): stop logging secrets at startup
  beam-server/src/config.rs
  beam-server/src/main.rs
Due: rust-fmt

fix(server): report actual probed codecs in media sources
  beam-server/src/models/media/codec.rs
  beam-server/src/services/metadata.rs
  beam-server/src/services/metadata_tests.rs
  beam-server/src/utils/codec.rs
Due: rust-fmt

fix(server): remove panic points from request paths
  beam-auth/src/server/oidc_routes.rs
  beam-auth/src/utils/session_store.rs
  beam-server/src/routes/admin.rs
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/media.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/middleware.rs
  beam-server/src/routes/playback.rs
  beam-server/src/routes/stream.rs
Due: rust-fmt

feat(server): run database migrations on startup
  beam-server/Cargo.toml
  beam-server/src/config.rs
  beam-server/src/main.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
Due: rust-fmt

chore(deps): update crossbeam-epoch to 0.9.20 for RUSTSEC-2026-0204
  Cargo.lock
Due: none

fix(server): fail startup on likely cookie-Secure misconfiguration
  beam-server/src/config.rs
  beam-server/src/main.rs
Due: rust-fmt

feat(config)!: unify server environment variables under the BEAM_ prefix
  .env.example
  README.md
  beam-auth/.env.example
  beam-server/.env.example
  beam-server/Containerfile
  beam-server/src/config.rs
  beam-server/src/main.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  compose.beam.yaml
Due: rust-fmt

fix(deploy): correct compose healthcheck path and stale README volume reference
  README.md
  compose.beam.yaml
Due: none

fix(web): repair Containerfile for the OpenAPI codegen pipeline
  beam-web/.gitignore
  beam-web/Containerfile
Due: none

chore(ops): update verify-config.sh for the current config surface
  verify-config.sh
Due: none

docs: remove temporary and procedural docs
  .github/workflows/rust.yml
  AGENTS.md
  README.md
  beam-domain/README.md
  beam-index/README.md
  beam-server/README.md
  dex/config.yaml
  docs/operations/ci.md
  docs/operations/dev-setup.md
  docs/operations/e2e-validation.md
  docs/testing.md
  docs/testing/coverage.md
  docs/testing/strategy.md
Due: none

docs: condense architecture, components, and requirements to present tense
  beam-auth/README.md
  beam-domain/README.md
  beam-entity/README.md
  beam-index/README.md
  beam-migration/README.md
  docs/README.md
  docs/architecture/api.md
  docs/architecture/components.md
  docs/architecture/data-model.md
  docs/architecture/decisions/ADR-0001-modular-monolith.md
  docs/architecture/decisions/ADR-0002-rest-only-api.md
  docs/architecture/decisions/ADR-0003-oidc-bff-auth.md
  docs/architecture/decisions/ADR-0004-never-transcode.md
  docs/architecture/decisions/ADR-0005-sessions-in-postgres.md
  docs/architecture/decisions/ADR-0006-cameo-enrichment.md
  docs/architecture/decisions/ADR-0007-vendored-ffmpeg-local-dev.md
  docs/architecture/decisions/ADR-0008-image-cdn-direct.md
  docs/architecture/decisions/README.md
  docs/architecture/overview.md
  docs/architecture/security.md
  docs/architecture/streaming.md
  docs/components/docs-site.md
  docs/components/domain.md
  docs/components/indexer.md
  docs/components/persistence.md
  docs/components/server.md
  docs/components/web.md
  docs/requirements/functional.md
  docs/requirements/non-functional.md
  docs/requirements/product.md
Due: none

docs: rewrite configuration and deployment docs as the operator deploy reference
  docs/operations/configuration.md
  docs/operations/deployment.md
Due: none
