Repository justin13888/Beam: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, biome-check

rust-fmt:
  run: cargo fmt --check
  fail_text: Run `cargo fmt` to fix Rust formatting

biome-check:
  run: bun biome check {staged_files}
  fail_text: Run `bun run check:fix` to auto-fix

fix(dev): register Dex's device callback as the relative URI it matches
  dex/config.yaml
Due: none

docs: state the identity fold's real scope and its accepted collisions
  beam-docs/src/content/docs/operate/libraries.mdx
  beam-domain/src/utils/identity.rs
  beam-index/src/services/index.rs
  docs/architecture/data-model.md
Due: rust-fmt

feat(migration): serialise concurrent migrators on a Postgres advisory lock
  beam-migration/Cargo.toml
  beam-migration/src/lib.rs
  beam-migration/tests/pg_integration.rs
  beam-server/src/main.rs
  docs/operations/deployment.md
Due: rust-fmt

feat(android): show each download's poster in the downloads list
  beam-android/core/designsystem/src/main/kotlin/dev/beam/android/core/designsystem/Spacing.kt
  beam-android/feature/downloads/src/main/kotlin/dev/beam/android/feature/downloads/DownloadsScreen.kt
Due: none

feat(android): keep a download's poster on disk so it renders offline
  beam-android/core/media/build.gradle.kts
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/di/MediaModule.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/download/BeamDownloadManager.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/download/DownloadArtwork.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/download/DownloadRepository.kt
  beam-android/core/media/src/test/kotlin/dev/beam/android/core/media/download/DownloadArtworkTest.kt
  beam-android/gradle/libs.versions.toml
  beam-docs/src/content/docs/operate/metadata.mdx
  docs/architecture/decisions/ADR-0015-artwork-served-by-beam.md
Due: none

feat(deploy): add a Helm chart for a single-replica Beam on Kubernetes
  charts/beam/.helmignore
  charts/beam/Chart.yaml
  charts/beam/ci/full-values.yaml
  charts/beam/ci/minimal-values.yaml
  charts/beam/ci/web-values.yaml
  charts/beam/templates/NOTES.txt
  charts/beam/templates/_helpers.tpl
  charts/beam/templates/deployment.yaml
  charts/beam/templates/ingress.yaml
  charts/beam/templates/pvc.yaml
  charts/beam/templates/secret.yaml
  charts/beam/templates/service.yaml
  charts/beam/templates/serviceaccount.yaml
  charts/beam/templates/web-deployment.yaml
  charts/beam/templates/web-service.yaml
  charts/beam/values.schema.json
  charts/beam/values.yaml
  mise.toml
Due: none

ci: gate the Helm chart in CI and the pre-push hook
  .github/workflows/ci.yml
  hk.pkl
Due: none

build(release): version the Helm chart with the release
  charts/beam/Chart.yaml
  docs/architecture/decisions/ADR-0009-release-engineering.md
  release-please-config.json
Due: none

docs: document Kubernetes deployment with the Helm chart
  AGENTS.md
  beam-docs/astro.config.mjs
  beam-docs/src/content/docs/getting-started.mdx
  beam-docs/src/content/docs/help/faq.mdx
  beam-docs/src/content/docs/operate/kubernetes.mdx
  beam-docs/src/content/docs/operate/production.mdx
  beam-docs/src/pages/index.astro
  docs/architecture/decisions/ADR-0018-kubernetes-helm-chart.md
  docs/architecture/decisions/README.md
  docs/architecture/overview.md
  docs/operations/deployment.md
  docs/requirements/non-functional.md
  docs/requirements/product.md
Due: biome-check

fix(auth): authenticate device-grant requests like the code exchange
  beam-auth/src/utils/oidc.rs
  beam-auth/src/utils/testdata/fake-idp-rs256.pem
  beam-docs/src/content/docs/operate/providers/authelia.mdx
  beam-server/src/routes/device_login_tests.rs
  dex/config.yaml
Due: rust-fmt

docs(server): name the kynos any-of security gap for the maintainer to file
  beam-server/src/routes/auth.rs
Due: rust-fmt

test(server): cover the device-login cap, interval floor and unverifiable approvals
  beam-server/src/routes/auth.rs
  beam-server/src/routes/device_login_tests.rs
Due: rust-fmt

fix(server): forbid caching the device-login start and poll answers
  beam-client-core/api/openapi.json
  beam-server/src/routes/auth.rs
  beam-server/src/routes/device_login_tests.rs
  beam-web/openapi.json
Due: rust-fmt

fix(android): keep the phone's browser sign-in and poll through transient failures
  beam-android/core/testing/src/main/kotlin/dev/beam/android/core/testing/FakeRepositories.kt
  beam-android/feature/auth/src/main/kotlin/dev/beam/android/feature/auth/AuthScreen.kt
  beam-android/feature/auth/src/main/kotlin/dev/beam/android/feature/auth/AuthViewModel.kt
  beam-android/feature/auth/src/main/kotlin/dev/beam/android/feature/auth/BrowserAvailability.kt
  beam-android/feature/auth/src/test/kotlin/dev/beam/android/feature/auth/AuthViewModelTest.kt
Due: none

docs: record device-grant client auth, Android sign-in defaults and no-store answers
  beam-docs/src/content/docs/operate/identity-and-access.mdx
  docs/architecture/components.md
  docs/architecture/decisions/ADR-0012-native-client-rust-core.md
  docs/architecture/decisions/ADR-0017-device-authorization-grant.md
  docs/architecture/decisions/README.md
  docs/architecture/security.md
  docs/requirements/non-functional.md
Due: none

test(server): give the device-login harness the watch status master added
  beam-server/src/routes/device_login_tests.rs
Due: rust-fmt

fix(android): send the session and trust decision with artwork requests
  beam-android/app/src/main/kotlin/dev/beam/android/BeamApplication.kt
  beam-android/core/media/build.gradle.kts
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/di/MediaModule.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/download/DownloadArtwork.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/http/BeamImageLoader.kt
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/http/ServerCallFactory.kt
  beam-android/core/media/src/test/kotlin/dev/beam/android/core/media/download/DownloadArtworkTest.kt
  beam-android/core/media/src/test/kotlin/dev/beam/android/core/media/http/BeamImageLoaderTest.kt
  beam-android/gradle/libs.versions.toml
  beam-docs/src/content/docs/operate/metadata.mdx
  docs/architecture/decisions/ADR-0015-artwork-served-by-beam.md
Due: none

fix(android): release a shared poster after remove-all or a mid-fetch removal
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/download/BeamDownloadManager.kt
  beam-android/core/media/src/test/kotlin/dev/beam/android/core/media/download/DownloadArtworkTest.kt
Due: none

test(android): hold each part of the session's origin check to account
  beam-android/core/media/src/main/kotlin/dev/beam/android/core/media/http/ServerCallFactory.kt
  beam-android/core/media/src/test/kotlin/dev/beam/android/core/media/http/BeamImageLoaderTest.kt
  beam-android/core/media/src/test/kotlin/dev/beam/android/core/media/http/SameOriginTest.kt
Due: none

docs(android): describe how playback's clients carry the session and trust
  beam-android/core/media/build.gradle.kts
Due: none

fix(migration): read the ledger only under the advisory lock
  Cargo.lock
  beam-migration/Cargo.toml
  beam-migration/src/lib.rs
  beam-migration/tests/pg_integration.rs
  beam-server/src/main.rs
  docs/architecture/decisions/ADR-0018-kubernetes-helm-chart.md
  docs/operations/deployment.md
  docs/requirements/non-functional.md
Due: rust-fmt

fix(deploy): harden the chart's library, proxy and shutdown defaults
  beam-docs/src/content/docs/operate/kubernetes.mdx
  charts/beam/ci/full-values.yaml
  charts/beam/ci/nodeport-values.yaml
  charts/beam/templates/NOTES.txt
  charts/beam/templates/_helpers.tpl
  charts/beam/templates/deployment.yaml
  charts/beam/values.schema.json
  charts/beam/values.yaml
  docs/architecture/decisions/ADR-0018-kubernetes-helm-chart.md
  docs/operations/deployment.md
  mise.toml
Due: none

fix(auth): authenticate to the IdP with the configured client auth method
  beam-auth/src/utils/oidc.rs
  beam-server/src/config.rs
  beam-server/src/state.rs
  verify-config.sh
Due: rust-fmt

build(dev): run Beam against the bundled Dex with client_secret_post
  compose.beam.yaml
  dex/config.yaml
  mise.toml
Due: none

docs: record the operator-set OIDC client auth method
  beam-docs/src/content/docs/operate/identity-and-access.mdx
  beam-docs/src/content/docs/operate/providers/authelia.mdx
  beam-docs/src/content/docs/operate/providers/authentik.mdx
  beam-docs/src/content/docs/operate/providers/keycloak.mdx
  beam-docs/src/content/docs/operate/providers/pocket-id.mdx
  beam-docs/src/content/docs/reference/configuration.mdx
  beam-docs/src/content/docs/reference/errors.mdx
  docs/architecture/decisions/ADR-0017-device-authorization-grant.md
  docs/architecture/security.md
  docs/operations/configuration.md
Due: none

docs(config): list BEAM_OIDC_CLIENT_AUTH_METHOD in the env examples
  .env.example
  beam-server/.env.example
Due: none

test(migration): scope the race tests' waiting signal to their own second migrator
  beam-migration/tests/pg_integration.rs
  beam-test-support/src/postgres.rs
Due: rust-fmt

feat(deploy): let the server pod read group-readable media and pin hostPath libraries to Directory
  charts/beam/Chart.yaml
  charts/beam/ci/full-values.yaml
  charts/beam/templates/deployment.yaml
  charts/beam/values.schema.json
  charts/beam/values.yaml
  mise.toml
Due: none

docs(deploy): say which migration commands need the server stopped, and what media Beam can read
  beam-docs/src/content/docs/operate/kubernetes.mdx
  docs/architecture/decisions/ADR-0018-kubernetes-helm-chart.md
  docs/operations/deployment.md
Due: none

fix(config): document an empty BEAM_OIDC_CLIENT_AUTH_METHOD as the default
  beam-server/src/config.rs
  compose.beam.yaml
  docs/operations/configuration.md
  verify-config.sh
Due: rust-fmt

test(auth): pin that a Basic code exchange sends no client_id in the form
  beam-auth/src/utils/oidc.rs
Due: rust-fmt

docs(mise): count six compose invariants in the check's header
  mise.toml
Due: none

feat(domain): infer shows, episodes and movies from library paths
  beam-domain/src/utils/filename.rs
  beam-domain/src/utils/media_path.rs
  beam-domain/src/utils/media_path_corpus.rs
  beam-domain/src/utils/mod.rs
Due: rust-fmt

feat(domain): decide which paths under a library root are indexed
  Cargo.lock
  beam-domain/Cargo.toml
  beam-domain/src/utils/mod.rs
  beam-domain/src/utils/path_policy.rs
Due: rust-fmt

feat(chart): map BEAM_OIDC_CLIENT_AUTH_METHOD as oidc.clientAuthMethod
  beam-docs/src/content/docs/operate/kubernetes.mdx
  charts/beam/ci/full-values.yaml
  charts/beam/templates/deployment.yaml
  charts/beam/values.schema.json
  charts/beam/values.yaml
Due: none

feat(domain): add the library shape aggregate and telemetry sink seam
  beam-domain/src/models/library_shape.rs
  beam-domain/src/models/mod.rs
  beam-domain/src/providers/mod.rs
  beam-domain/src/providers/telemetry.rs
  beam-domain/src/repositories/contract.rs
  beam-domain/src/repositories/library_shape.rs
  beam-domain/src/repositories/mod.rs
  beam-domain/src/utils/mod.rs
  beam-domain/src/utils/telemetry.rs
Due: rust-fmt

feat(index): answer the library shape in SQL and send reports over reqwest
  beam-index/src/providers/mod.rs
  beam-index/src/providers/telemetry.rs
  beam-index/src/repositories/library_shape.rs
  beam-index/src/repositories/mod.rs
  beam-index/src/repositories/sql_shape_tests.rs
  beam-index/tests/pg_integration.rs
  beam-index/tests/pg_integration/library_shape.rs
Due: rust-fmt

feat(server): send an opt-in anonymous weekly library report
  beam-client-core/api/openapi.json
  beam-server/src/config.rs
  beam-server/src/main.rs
  beam-server/src/models/mod.rs
  beam-server/src/models/telemetry.rs
  beam-server/src/routes/admin.rs
  beam-server/src/routes/admin_telemetry_tests.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/artwork_tests.rs
  beam-server/src/routes/auth_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/routes/test_support.rs
  beam-server/src/services/mod.rs
  beam-server/src/services/telemetry/library_report.rs
  beam-server/src/services/telemetry/mod.rs
  beam-server/src/services/telemetry/otlp.rs
  beam-server/src/services/telemetry/scheduler.rs
  beam-server/src/services/telemetry/scheduler_tests.rs
  beam-server/src/state.rs
  beam-web/openapi.json
Due: rust-fmt

feat(index): classify files from their library path and index only media
  beam-domain/src/models/file.rs
  beam-domain/src/models/show.rs
  beam-domain/src/repositories/contract.rs
  beam-domain/src/repositories/file.rs
  beam-domain/src/repositories/movie.rs
  beam-domain/src/repositories/playback_progress.rs
  beam-domain/src/repositories/show.rs
  beam-entity/src/files.rs
  beam-index/src/repositories/file.rs
  beam-index/src/repositories/movie.rs
  beam-index/src/repositories/show.rs
  beam-index/src/repositories/sql_shape_tests.rs
  beam-index/src/services/index.rs
  beam-index/src/services/index_identity_tests.rs
  beam-index/src/services/index_inference_tests.rs
  beam-index/src/services/index_missing_tests.rs
  beam-index/tests/pg_integration/file_repository.rs
  beam-migration/src/lib.rs
  beam-migration/src/m20260929_000001_classifier_v2.rs
  beam-migration/tests/pg_integration.rs
  beam-server/src/bootstrap.rs
  beam-server/src/bootstrap_tests.rs
  beam-server/src/config.rs
  beam-server/src/main.rs
  beam-server/src/models/library/file.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/artwork_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/services/library.rs
  beam-server/src/services/library_tests.rs
  beam-server/src/services/metadata_tests.rs
  beam-server/src/services/playback.rs
  beam-server/src/services/playback_tests.rs
  beam-server/src/state.rs
  beam-test-support/src/seed.rs
  compose.beam.yaml
  verify-config.sh
Due: rust-fmt

docs: describe path-based classification, exclusions and BEAM_SCAN_IGNORE
  beam-docs/src/content/docs/help/faq.mdx
  beam-docs/src/content/docs/help/troubleshooting.mdx
  beam-docs/src/content/docs/operate/libraries.mdx
  beam-docs/src/content/docs/reference/configuration.mdx
  docs/architecture/components.md
  docs/architecture/data-model.md
  docs/architecture/overview.md
  docs/operations/configuration.md
  docs/requirements/functional.md
Due: none

Path conditions:
  rust-fmt: any of: **/*.rs
  biome-check: any of: **/*.{ts,tsx,js,mjs,cjs,astro}
