Repository justin13888/Beam: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, biome-check

rust-fmt:
  run: cargo fmt --check
  fail_text: Run `cargo fmt` to fix Rust formatting

biome-check:
  run: bun biome check {staged_files}
  fail_text: Run `bun run check:fix` to auto-fix

fix(index): keep filesystem paths out of IndexError messages
  beam-index/src/services/index.rs
Due: rust-fmt

fix(server): pass the index scan failure through now that it carries no path
  beam-server/src/routes/admin.rs
  beam-server/src/routes/admin_tests.rs
Due: rust-fmt

fix(index): refuse a library root that is not a directory
  beam-index/src/services/index.rs
Due: rust-fmt

fix(client-core): clear the rejected session when the server answers 401
  beam-client-core/src/ffi.rs
  beam-client-core/src/session.rs
Due: rust-fmt

fix(client-core): report a missing session as unauthenticated, not malformed
  beam-client-core/src/ffi.rs
  beam-client-core/src/transport.rs
Due: rust-fmt

test(client-core): cover every path that registers or withdraws the credential
  beam-client-core/src/ffi.rs
Due: rust-fmt

ci(android): gate the minified release path on R8
  .github/workflows/ci.yml
  hk.pkl
  mise.toml
Due: none

build(android): name what the toolchain pins are actually verified against
  beam-android/gradle/libs.versions.toml
Due: none

ci: build the FFmpeg container stage before merge, not after the tag
  .github/workflows/ci.yml
  AGENTS.md
  docs/operations/configuration.md
  mise.toml
Due: none

fix(server): refuse a non-directory library root at registration
  beam-server/src/services/library.rs
  beam-server/src/services/library_tests.rs
Due: rust-fmt

fix(index): record the library root when a scan refuses it
  beam-index/src/services/index.rs
Due: rust-fmt

test(index): pin the path-free guarantee at every PathNotFound site
  beam-index/src/services/index.rs
Due: rust-fmt

docs: exempt the admin operational surface from NFR-108
  docs/architecture/security.md
  docs/requirements/non-functional.md
Due: none

docs(errors): describe every condition behind library-path-not-found
  beam-docs/src/content/docs/reference/errors.mdx
Due: none

docs: follow the path validator rename in ADR-0011
  docs/architecture/decisions/ADR-0011-mutation-testing.md
Due: none

refactor(client-core): register the session cookie as a rotating credential
  beam-client-core/src/ffi.rs
  beam-client-core/src/transport.rs
Due: rust-fmt

fix(client-core): perform session effects where the machine emits them
  beam-client-core/src/ffi.rs
Due: rust-fmt

fix(client-core): keep an undeletable session cookie out of the next restore
  beam-client-core/src/ffi.rs
Due: rust-fmt

fix(client-core): carry the session across the forget-certificates rebuild
  beam-client-core/src/ffi.rs
Due: rust-fmt

fix(client-core): surface a session teardown out of flush_progress
  beam-client-core/src/ffi.rs
Due: rust-fmt

fix(tooling): guard the Swift bindgen off Darwin
  hk.pkl
  mise.toml
Due: none

docs(android): correct what the R8 gate is claimed to cover
  beam-android/gradle/libs.versions.toml
  hk.pkl
  mise.toml
Due: none

docs: name the endpoint NFR-108 does not cover
  beam-docs/src/content/docs/reference/errors.mdx
  docs/architecture/security.md
  docs/requirements/non-functional.md
Due: none

test(server): assert the pass-through, not two enums' shared format
  beam-server/src/routes/admin_tests.rs
  beam-server/src/services/library_tests.rs
Due: rust-fmt

test(index): pin the disclosure that replaces the path in the error
  beam-index/src/services/index.rs
Due: rust-fmt

ci: gate the FFmpeg container build on what it actually proves
  .github/workflows/ci.yml
  AGENTS.md
  hk.pkl
  mise.toml
Due: none

fix(mise): probe the build driver for cache support instead of the engine name
  docs/operations/configuration.md
  mise.toml
Due: none

fix(domain): require an episode marker to start a word
  beam-domain/proptest-regressions/utils/filename.txt
  beam-domain/src/utils/filename.rs
Due: rust-fmt

build(deps): bump kynos to 0.3 and spargen to 0.5
  Cargo.lock
  Cargo.toml
  beam-client-core/Cargo.toml
  beam-client-core/api/openapi.json
  beam-client-core/src/ffi.rs
  beam-server/src/models/media/artwork.rs
  beam-server/src/models/search.rs
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/contract_tests.rs
  beam-server/src/routes/mod.rs
  beam-web/openapi.json
Due: rust-fmt

refactor(server): mount routes flat now that kynos applies their own tags
  beam-server/Cargo.toml
  beam-server/src/routes/mod.rs
  docs/architecture/kynos-migration-readiness.md
Due: rust-fmt

docs(client-core): record the spargen gaps 0.5 closed
  beam-client-core/build.rs
  beam-client-core/src/transport.rs
  docs/architecture/decisions/ADR-0015-artwork-served-by-beam.md
Due: rust-fmt

feat(server): name the admin 403 and the rate-limited 429
  Cargo.lock
  beam-client-core/api/openapi.json
  beam-docs/src/content/docs/reference/errors.mdx
  beam-server/Cargo.toml
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/middleware.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/rate_limit.rs
  beam-server/src/routes/rate_limit_tests.rs
  beam-server/src/routes/taxonomy_tests.rs
  beam-web/openapi.json
  docs/architecture/api.md
  docs/architecture/kynos-migration-readiness.md
Due: rust-fmt

test(client-core): pin the problem type a stale client cannot decode
  beam-client-core/src/ffi.rs
  beam-client-core/src/transport.rs
Due: rust-fmt

docs(server): describe how kynos 0.3 titles a shared status
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/middleware.rs
  beam-server/src/routes/taxonomy_tests.rs
  docs/architecture/api.md
Due: rust-fmt

test(client-core): pin the proxy 429 a narrowed contract no longer recognises
  beam-client-core/src/ffi.rs
  beam-client-core/src/transport.rs
  beam-docs/src/content/docs/reference/errors.mdx
Due: rust-fmt

Delete .vscode directory
  .vscode/extensions.json
  .vscode/settings.json
Due: none

fix(deps): bump rustls to 0.23.45 for RUSTSEC-2026-0285
  Cargo.lock
Due: none

docs(adr): record ADR-0016, Beam is bring-your-own-IdP permanently
  docs/architecture/decisions/ADR-0003-oidc-bff-auth.md
  docs/architecture/decisions/ADR-0016-bring-your-own-idp.md
  docs/architecture/decisions/README.md
  docs/requirements/functional.md
Due: none

docs(beam-docs): add identity provider quickstarts
  beam-docs/astro.config.mjs
  beam-docs/src/content/docs/getting-started.mdx
  beam-docs/src/content/docs/help/faq.mdx
  beam-docs/src/content/docs/operate/identity-and-access.mdx
  beam-docs/src/content/docs/operate/providers/authelia.mdx
  beam-docs/src/content/docs/operate/providers/authentik.mdx
  beam-docs/src/content/docs/operate/providers/keycloak.mdx
  beam-docs/src/content/docs/operate/providers/pocket-id.mdx
Due: biome-check

fix(build): hand cargo the canonical CARGO_HOME so uniffi-bindgen compiles
  mise.toml
Due: none

Path conditions:
  rust-fmt: any of: **/*.rs
  biome-check: any of: **/*.{ts,tsx,js,mjs,cjs,astro}
