Repository justin13888/Beam: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, biome-check

rust-fmt:
  run: cargo fmt --check
  fail_text: Run `cargo fmt` to fix Rust formatting

biome-check:
  run: bun biome check {staged_files}
  fail_text: Run `bun run check:fix` to auto-fix

test(domain): assert model conversion, filename, hash, and slug invariants
  Cargo.lock
  beam-domain/Cargo.toml
  beam-domain/proptest-regressions/repositories/genre.txt
  beam-domain/src/models/enrichment.rs
  beam-domain/src/models/movie.rs
  beam-domain/src/models/playback_progress.rs
  beam-domain/src/models/show.rs
  beam-domain/src/providers/enrichment.rs
  beam-domain/src/repositories/genre.rs
  beam-domain/src/utils/filename.rs
  beam-domain/src/utils/hash.rs
Due: rust-fmt

test(index): cover probe metadata fallbacks, format conversion, and codec classification
  Cargo.lock
  beam-index/Cargo.toml
  beam-index/src/probe/color.rs
  beam-index/src/probe/format.rs
  beam-index/src/probe/media.rs
  beam-index/src/probe/metadata.rs
  beam-index/src/probe/mod.rs
  beam-index/src/probe/real_media_tests.rs
Due: rust-fmt

test(index): drive the background indexing loops through a doubled indexer
  beam-index/Cargo.toml
  beam-index/src/runtime.rs
  beam-index/src/runtime_tests.rs
Due: rust-fmt

test(domain): run one behavioural contract over the playback-progress repository
  beam-domain/src/repositories/contract.rs
  beam-domain/src/repositories/mod.rs
  beam-domain/src/repositories/playback_progress.rs
Due: rust-fmt

refactor(persistence): share one Arc'd connection handle and inject the clock
  Cargo.lock
  beam-auth/Cargo.toml
  beam-auth/src/utils/contract.rs
  beam-auth/src/utils/mod.rs
  beam-auth/src/utils/pending_auth_store.rs
  beam-auth/src/utils/repository.rs
  beam-auth/src/utils/session_store.rs
  beam-index/src/repositories/admin_log.rs
  beam-index/src/repositories/enrichment.rs
  beam-index/src/repositories/file.rs
  beam-index/src/repositories/genre.rs
  beam-index/src/repositories/library.rs
  beam-index/src/repositories/movie.rs
  beam-index/src/repositories/playback_progress.rs
  beam-index/src/repositories/show.rs
  beam-index/src/repositories/stream.rs
  beam-server/Cargo.toml
  beam-server/src/main.rs
  beam-server/src/services/health.rs
  beam-server/src/state.rs
Due: rust-fmt

test(persistence): assert the generated SQL shape with MockDatabase
  beam-auth/Cargo.toml
  beam-auth/src/utils/mod.rs
  beam-auth/src/utils/sql_shape_tests.rs
  beam-index/Cargo.toml
  beam-index/src/repositories/mod.rs
  beam-index/src/repositories/sql_shape_tests.rs
Due: rust-fmt

test(server): cover config defaults, startup gating, retries, CSRF, and uptime
  Cargo.lock
  beam-server/Cargo.toml
  beam-server/proptest-regressions/routes/stream_tests.txt
  beam-server/src/bootstrap.rs
  beam-server/src/bootstrap_tests.rs
  beam-server/src/config.rs
  beam-server/src/db.rs
  beam-server/src/lib.rs
  beam-server/src/main.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/contract_tests.rs
  beam-server/src/routes/genres_tests.rs
  beam-server/src/routes/health_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/metrics_mw_tests.rs
  beam-server/src/routes/middleware.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/playback.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/routes/test_support.rs
  beam-server/src/services/admin_log.rs
  beam-server/src/services/notification.rs
  beam-server/src/services/playback_tests.rs
  beam-server/src/state.rs
  beam-server/src/state_tests.rs
Due: rust-fmt

test(server): cover OsPathValidator's real containment checks
  beam-server/src/services/library_tests.rs
Due: rust-fmt

test(auth): cover the OIDC route helpers and session TTL arithmetic
  beam-auth/src/server/oidc_routes.rs
  beam-auth/src/server/oidc_routes_tests.rs
  beam-auth/src/utils/oidc.rs
Due: rust-fmt

build(test): add the opt-in pg-integration tier
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  beam-auth/Cargo.toml
  beam-auth/tests/pg_integration.rs
  beam-auth/tests/pg_integration/pending_auth_store.rs
  beam-auth/tests/pg_integration/session_store.rs
  beam-auth/tests/pg_integration/user_repository.rs
  beam-index/Cargo.toml
  beam-index/tests/pg_integration.rs
  beam-index/tests/pg_integration/file_repository.rs
  beam-index/tests/pg_integration/playback_progress.rs
  beam-index/tests/pg_integration/schema.rs
  beam-test-support/Cargo.toml
  beam-test-support/src/lib.rs
  beam-test-support/src/postgres.rs
  beam-test-support/src/seed.rs
  mise.toml
Due: rust-fmt

build(web): commit openapi.json as the client contract
  .github/workflows/ci.yml
  beam-web/.gitignore
  beam-web/openapi.json
  mise.toml
Due: none

fix(web): make /libraries an index route so /libraries/$id renders
  beam-web/src/routeTree.gen.ts
  beam-web/src/routes/libraries.index.tsx
  beam-web/src/routes/libraries.test.tsx
Due: biome-check

test(web): drive routes through a real router with MSW at the wire
  beam-web/src/components/ContinueWatchingRow.test.tsx
  beam-web/src/components/Header.test.tsx
  beam-web/src/components/RouteError.test.tsx
  beam-web/src/components/VideoPlayer.test.ts
  beam-web/src/components/VideoPlayer.tsx
  beam-web/src/hooks/auth.test.tsx
  beam-web/src/hooks/usePlaybackBeacon.test.ts
  beam-web/src/lib/apiClient.test.ts
  beam-web/src/lib/apiClient.ts
  beam-web/src/routes/__root.tsx
  beam-web/src/routes/admin.test.tsx
  beam-web/src/routes/admin.tsx
  beam-web/src/routes/explore.test.tsx
  beam-web/src/routes/history.test.tsx
  beam-web/src/routes/index.test.tsx
  beam-web/src/routes/libraries.$id.test.tsx
  beam-web/src/routes/libraries.index.test.tsx
  beam-web/src/routes/libraries.test.tsx
  beam-web/src/routes/login.test.tsx
  beam-web/src/routes/media.$id.test.tsx
  beam-web/src/routes/media.$id.tsx
  beam-web/src/routes/profile.test.tsx
  beam-web/src/test/factories.ts
  beam-web/src/test/handlers.ts
  beam-web/src/test/harness.tsx
  beam-web/src/test/requests.ts
  beam-web/src/test/setup.ts
  beam-web/vitest.config.ts
Due: biome-check

build: mark every test double #[mutants::skip] and enforce it
  .cargo/mutants.toml
  .github/workflows/ci.yml
  .github/workflows/mutants.yml
  beam-auth/Cargo.toml
  beam-domain/Cargo.toml
  beam-domain/src/repositories/admin_log.rs
  beam-domain/src/repositories/enrichment.rs
  beam-domain/src/repositories/file.rs
  beam-domain/src/repositories/library.rs
  beam-domain/src/repositories/movie.rs
  beam-domain/src/repositories/show.rs
  beam-domain/src/repositories/stream.rs
  beam-index/Cargo.toml
  beam-index/src/services/admin_log.rs
  beam-index/src/services/notification.rs
  beam-index/src/services/watcher.rs
  beam-server/Cargo.toml
  beam-server/src/services/library.rs
  hk.pkl
  mise.toml
Due: rust-fmt

docs: record ADR-0011 and the testing strategy it changes
  AGENTS.md
  docs/architecture/decisions/ADR-0011-mutation-testing.md
  docs/architecture/decisions/README.md
  docs/requirements/non-functional.md
  docs/testing.md
Due: none

build(deps): update h2 to 0.4.16 for RUSTSEC-2026-0258
  Cargo.lock
Due: none

test(web): give the router harness a realistic async timeout
  beam-web/src/test/setup.ts
Due: biome-check

feat(docs): serve a custom landing page at the site root
  beam-docs/astro.config.mjs
  beam-docs/package.json
  beam-docs/src/assets/houston.webp
  beam-docs/src/content/docs/development/caching.md
  beam-docs/src/content/docs/development/streaming.md
  beam-docs/src/content/docs/getting-started.mdx
  beam-docs/src/content/docs/index.mdx
  beam-docs/src/layouts/LandingLayout.astro
  beam-docs/src/pages/index.astro
  beam-docs/src/styles/landing.css
  beam-docs/src/styles/tokens.css
  bun.lock
Due: biome-check

feat(docs): replace Starlight's 404 with a branded page
  beam-docs/astro.config.mjs
  beam-docs/src/pages/404.astro
Due: biome-check

feat(docs): give the site a Beam mark and brand accent
  beam-docs/astro.config.mjs
  beam-docs/src/assets/beam-mark-light.svg
  beam-docs/src/assets/beam-mark.svg
  beam-docs/src/styles/starlight.css
Due: biome-check

feat(docs): add SEO metadata, Open Graph card and robots.txt
  beam-docs/astro.config.mjs
  beam-docs/package.json
  beam-docs/public/og/beam.png
  beam-docs/public/robots.txt
  beam-docs/scripts/build-og-image.mjs
  beam-docs/src/components/Seo.astro
  beam-docs/src/layouts/LandingLayout.astro
  beam-docs/src/site.ts
Due: biome-check

feat(docs): show edit links and last-updated dates
  .github/workflows/ci.yml
  .github/workflows/release.yml
  beam-docs/astro.config.mjs
Due: biome-check

ci: build the docs site on pre-push and keep it off the ts path filter
  .github/workflows/ci.yml
  hk.pkl
Due: none

docs(site): add getting-started, install and first-library guides
  beam-docs/astro.config.mjs
  beam-docs/src/content/docs/first-run.mdx
  beam-docs/src/content/docs/getting-started.mdx
  beam-docs/src/content/docs/install.mdx
  docs/architecture/components.md
Due: biome-check

docs(site): add viewer guides for signing in, watching and downloads
  beam-docs/astro.config.mjs
  beam-docs/src/content/docs/using/account-and-sessions.mdx
  beam-docs/src/content/docs/using/browsing-and-search.mdx
  beam-docs/src/content/docs/using/continue-watching.mdx
  beam-docs/src/content/docs/using/downloads.mdx
  beam-docs/src/content/docs/using/playback-compatibility.mdx
  beam-docs/src/content/docs/using/signing-in.mdx
  beam-docs/src/content/docs/using/watching.mdx
Due: biome-check

docs(site): correct the multi-source and subtitle claims
  beam-docs/src/content/docs/using/playback-compatibility.mdx
  beam-docs/src/content/docs/using/watching.mdx
Due: none

docs(site): add operator guides for libraries, identity and production
  beam-docs/astro.config.mjs
  beam-docs/src/content/docs/operate/backup-and-upgrade.mdx
  beam-docs/src/content/docs/operate/identity-and-access.mdx
  beam-docs/src/content/docs/operate/libraries.mdx
  beam-docs/src/content/docs/operate/metadata.mdx
  beam-docs/src/content/docs/operate/monitoring.mdx
  beam-docs/src/content/docs/operate/production.mdx
  beam-docs/src/content/docs/reference/configuration.mdx
Due: biome-check

docs: correct the API error contract and publish an error reference
  beam-docs/astro.config.mjs
  beam-docs/src/content/docs/reference/api.mdx
  beam-docs/src/content/docs/reference/errors.mdx
  docs/architecture/api.md
Due: biome-check

docs(site): add troubleshooting, FAQ and support pages
  beam-docs/astro.config.mjs
  beam-docs/src/content/docs/help/faq.mdx
  beam-docs/src/content/docs/help/support.mdx
  beam-docs/src/content/docs/help/troubleshooting.mdx
Due: biome-check

feat(docs): build the public landing page and reconcile stale root docs
  beam-docs/src/components/landing/SiteFooter.astro
  beam-docs/src/components/landing/SiteHeader.astro
  beam-docs/src/pages/index.astro
  beam-docs/src/styles/landing.css
  docs/architecture/overview.md
  docs/operations/deployment.md
  docs/requirements/product.md
Due: biome-check

fix(docs): repair the multiple-versions anchor
  beam-docs/src/content/docs/operate/libraries.mdx
Due: none

fix(docs): make the docs type-check actually run, and drop the Vite plugin
  beam-docs/astro.config.mjs
  beam-docs/package.json
  beam-docs/postcss.config.mjs
  biome.json
  bun.lock
Due: biome-check

docs(site): correct nine claims that did not match the code
  beam-docs/src/content/docs/install.mdx
  beam-docs/src/content/docs/operate/identity-and-access.mdx
  beam-docs/src/content/docs/operate/libraries.mdx
  beam-docs/src/content/docs/operate/metadata.mdx
  beam-docs/src/content/docs/operate/monitoring.mdx
  beam-docs/src/content/docs/reference/errors.mdx
  beam-docs/src/content/docs/using/account-and-sessions.mdx
  beam-docs/src/content/docs/using/browsing-and-search.mdx
  beam-docs/src/content/docs/using/watching.mdx
  beam-docs/src/pages/index.astro
Due: biome-check

ci: rebuild docs on lockfile changes and give the OG card a mise task
  .github/workflows/ci.yml
  hk.pkl
  mise.toml
Due: none

fix(index): make probe::init safe to call concurrently
  beam-index/src/probe/mod.rs
Due: rust-fmt

fix(ci): key the FFmpeg cache on the runner image version
  .github/actions/setup-ffmpeg/action.yml
Due: none

fix(index): don't dereference FFmpeg's null container long_name
  beam-index/src/probe/metadata.rs
Due: rust-fmt

build: pin the android toolchain and add the sdk bootstrap task
  mise.toml
Due: none

fix(auth): declare responses for the OIDC login and logout endpoints
  beam-auth/src/server/oidc_routes.rs
Due: rust-fmt

feat(client-core): add the server registry and session state machine
  beam-client-core/src/lib.rs
  beam-client-core/src/servers.rs
  beam-client-core/src/session.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: **/*.rs
  biome-check: any of: **/*.{ts,tsx,js,mjs,cjs,astro}
