Repository justin13888/Beam: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, biome-check

rust-fmt:
  run: cargo fmt --check
  fail_text: Run `cargo fmt` to fix Rust formatting

biome-check:
  run: bun biome check {staged_files}
  fail_text: Run `bun run check:fix` to auto-fix

fix(web): stop clearing localStorage in the vitest teardown
  beam-web/src/test/setup.ts
Due: biome-check

chore: final consistency sweep for renamed docs
  beam-docs/src/content/docs/development/streaming.md
  beam-web/vitest.config.ts
Due: biome-check

feat(server): graceful shutdown on SIGTERM/ctrl-c
  beam-server/src/config.rs
  beam-server/src/main.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  docs/operations/configuration.md
Due: rust-fmt

feat(server): tune db connection pool and retry startup connection
  beam-server/src/config.rs
  beam-server/src/db.rs
  beam-server/src/lib.rs
  beam-server/src/main.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  docs/operations/configuration.md
Due: rust-fmt

feat(web): toast notifications for library and metadata actions
  beam-web/package.json
  beam-web/src/routes/__root.tsx
  beam-web/src/routes/libraries.test.tsx
  beam-web/src/routes/libraries.tsx
  beam-web/src/routes/media.$id.tsx
  bun.lock
Due: biome-check

ci: consolidate the three workflows into a single mise-driven ci.yml
  .github/actions/bun-install/action.yml
  .github/actions/setup-bun/action.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/rust.yml
  .github/workflows/typescript.yml
Due: none

ci(release): add release-please chore-release PRs, GHCR images, and release assets
  .github/workflows/release.yml
  .release-please-manifest.json
  CHANGELOG.md
  release-please-config.json
Due: none

build(mise): add mise.toml as the tool and task source of truth
  .gitignore
  mise.toml
Due: none

build(container): align FFmpeg to 8.1 and drop the Rust stages from the web image
  beam-server/Containerfile
  beam-web/Containerfile
Due: none

docs: record the mise/hk/release decisions and update the affected docs
  AGENTS.md
  README.md
  docs/README.md
  docs/architecture/components.md
  docs/architecture/decisions/ADR-0009-release-engineering.md
  docs/architecture/decisions/README.md
  docs/operations/deployment.md
  docs/requirements/product.md
Due: none

ci(hooks): replace lefthook with hk for pre-commit, commit-msg, and pre-push
  bun.lock
  hk.pkl
  lefthook.yml
  package.json
Due: none

build: unify the workspace version across crates and packages
  Cargo.toml
  beam-auth/Cargo.toml
  beam-docs/package.json
  beam-domain/Cargo.toml
  beam-entity/Cargo.toml
  beam-index/Cargo.toml
  beam-migration/Cargo.toml
  beam-server/Cargo.toml
  beam-web/package.json
  package.json
  version.txt
Due: none

refactor(build): retire the .cargo aliases now that mise owns the FFmpeg switch
  .cargo/config.toml
  beam-server/README.md
  docs/testing.md
  mise.toml
Due: none

fix(migration): relax users.email to nullable and non-unique
  beam-auth/src/server/oidc_routes_tests.rs
  beam-migration/src/lib.rs
  beam-migration/src/m20260711_000001_users_email_optional.rs
Due: rust-fmt

refactor(server): remove transcode-era output codec scaffolding
  beam-server/src/models/media/codec.rs
  beam-server/src/utils/codec.rs
  beam-server/src/utils/mod.rs
Due: rust-fmt

feat(index): make enrichment batch size and match confidence tunable
  beam-index/src/services/enrichment/matcher.rs
  beam-index/src/services/enrichment/mod.rs
  beam-server/src/config.rs
  beam-server/src/db.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/state.rs
  docs/operations/configuration.md
Due: rust-fmt

feat(index): wire BEAM_METADATA_LANGUAGE into the TMDB client
  beam-index/src/providers/cameo.rs
  beam-server/src/config.rs
  beam-server/src/db.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/state.rs
  docs/operations/configuration.md
Due: rust-fmt

feat(server): rate limit auth and search endpoints with in-process token buckets
  beam-server/src/config.rs
  beam-server/src/db.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/rate_limit.rs
  beam-server/src/routes/rate_limit_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  docs/architecture/security.md
  docs/operations/configuration.md
  docs/requirements/non-functional.md
Due: rust-fmt

feat(server): probe the database in /v1/health and report degraded status
  beam-server/src/main.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/health.rs
  beam-server/src/routes/health_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/services/health.rs
  beam-server/src/services/mod.rs
  beam-server/src/state.rs
  docs/architecture/api.md
Due: rust-fmt

feat(server): wire BEAM_ENABLE_METRICS with a Prometheus endpoint and request metrics
  Cargo.lock
  Cargo.toml
  beam-server/Cargo.toml
  beam-server/src/main.rs
  beam-server/src/routes/metrics_mw.rs
  beam-server/src/routes/metrics_mw_tests.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/test_support.rs
  docs/operations/configuration.md
  docs/operations/deployment.md
Due: rust-fmt

feat(index): count enrichment and scan outcomes as metrics
  Cargo.lock
  beam-index/Cargo.toml
  beam-index/src/services/enrichment/mod.rs
  beam-index/src/services/index.rs
Due: rust-fmt

feat(index): warn when renditions of the same title diverge in runtime
  beam-index/src/services/index.rs
  docs/architecture/components.md
Due: rust-fmt

feat(server): resolve playable sources for episode ids
  beam-server/src/routes/media.rs
  beam-server/src/services/metadata.rs
  beam-server/src/services/metadata_tests.rs
Due: rust-fmt

feat(web): episode source selection, up-next auto-advance, and honest unplayable rows
  beam-web/src/components/VideoPlayer.tsx
  beam-web/src/lib/upNext.test.ts
  beam-web/src/lib/upNext.ts
  beam-web/src/routes/media.$id.test.tsx
  beam-web/src/routes/media.$id.tsx
Due: biome-check

feat(server): expose the distinct genre list
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/genres.rs
  beam-server/src/routes/genres_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/metrics_mw.rs
  beam-server/src/routes/metrics_mw_tests.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/routes/test_support.rs
  beam-server/src/state.rs
Due: rust-fmt

feat(web): cursor pagination and richer filters on explore
  beam-web/src/routes/explore.test.tsx
  beam-web/src/routes/explore.tsx
Due: biome-check

feat(web): active-session management on the profile page
  beam-web/src/routes/profile.test.tsx
  beam-web/src/routes/profile.tsx
Due: biome-check

feat(server): paginated watch-history endpoint
  beam-domain/src/repositories/playback_progress.rs
  beam-index/src/repositories/playback_progress.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/metrics_mw.rs
  beam-server/src/routes/metrics_mw_tests.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/playback.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/services/playback.rs
  beam-server/src/services/playback_tests.rs
Due: rust-fmt

feat(web): watch history page
  beam-web/src/components/Header.tsx
  beam-web/src/routeTree.gen.ts
  beam-web/src/routes/history.test.tsx
  beam-web/src/routes/history.tsx
Due: biome-check

refactor(auth)!: derive admin from an OIDC claim instead of BEAM_ADMIN_EMAILS
  .env.example
  beam-auth/README.md
  beam-auth/src/server/oidc_routes.rs
  beam-auth/src/server/oidc_routes_tests.rs
  beam-auth/src/utils/admin_allowlist.rs
  beam-auth/src/utils/admin_claim.rs
  beam-auth/src/utils/mod.rs
  beam-auth/src/utils/oidc.rs
  beam-auth/src/utils/repository.rs
  beam-entity/src/user.rs
  beam-migration/src/m20260711_000001_users_email_optional.rs
  beam-server/.env.example
  beam-server/src/config.rs
  beam-server/src/db.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/genres_tests.rs
  beam-server/src/routes/health_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/routes/test_support.rs
  beam-server/src/state.rs
  compose.beam.yaml
  docs/architecture/components.md
  docs/architecture/data-model.md
  docs/architecture/decisions/ADR-0003-oidc-bff-auth.md
  docs/architecture/overview.md
  docs/architecture/security.md
  docs/operations/configuration.md
  docs/operations/deployment.md
  docs/requirements/functional.md
  docs/requirements/non-functional.md
  docs/requirements/product.md
  docs/testing.md
  verify-config.sh
Due: rust-fmt

feat(auth): user disable support with session revocation
  beam-auth/src/server/oidc_routes.rs
  beam-auth/src/server/oidc_routes_tests.rs
  beam-auth/src/utils/models.rs
  beam-auth/src/utils/repository.rs
  beam-entity/src/user.rs
  beam-migration/src/lib.rs
  beam-migration/src/m20260711_000002_users_disabled.rs
Due: rust-fmt

feat(server): admin user management and system status endpoints
  beam-domain/src/models/enrichment.rs
  beam-domain/src/repositories/admin_log.rs
  beam-domain/src/repositories/enrichment.rs
  beam-domain/src/repositories/file.rs
  beam-domain/src/repositories/library.rs
  beam-index/src/repositories/admin_log.rs
  beam-index/src/repositories/enrichment.rs
  beam-index/src/repositories/file.rs
  beam-index/src/repositories/library.rs
  beam-index/src/services/admin_log.rs
  beam-server/src/models/admin.rs
  beam-server/src/routes/admin.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/genres_tests.rs
  beam-server/src/routes/health_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/routes/test_support.rs
  beam-server/src/state.rs
Due: rust-fmt

feat(web): admin panel tabs for users and system status
  beam-web/src/components/Header.tsx
  beam-web/src/routes/admin.test.tsx
  beam-web/src/routes/admin.tsx
Due: biome-check

test(index): add committed real-media fixtures for modern codecs
  beam-index/tests/fixtures/README.md
  beam-index/tests/fixtures/av1.mkv
  beam-index/tests/fixtures/av1.mp4
  beam-index/tests/fixtures/av1.webm
  beam-index/tests/fixtures/h264.mkv
  beam-index/tests/fixtures/h264_aac.mp4
  beam-index/tests/fixtures/hevc.mkv
  beam-index/tests/fixtures/hevc.mp4
  beam-index/tests/fixtures/vp9_opus.webm
Due: none

fix(index): map ffmpeg's HEVC codec id to CodecId::H265
  beam-index/src/probe/media.rs
Due: rust-fmt

test(index): probe real media fixtures across codec and container matrix
  beam-index/src/probe/mod.rs
  beam-index/src/probe/real_media_tests.rs
  beam-index/src/services/index.rs
Due: rust-fmt

test(web): add route component tests and ratchet coverage thresholds
  beam-web/src/routes/admin.test.tsx
  beam-web/src/routes/libraries.$id.test.tsx
  beam-web/src/routes/libraries.$id.tsx
  beam-web/src/routes/media.$id.test.tsx
  beam-web/src/routes/media.$id.tsx
  beam-web/vitest.config.ts
Due: biome-check

docs: ratify ADR-0010 OpenAPI 3.2 / Kynos migration and readiness gates
  docs/README.md
  docs/architecture/api.md
  docs/architecture/components.md
  docs/architecture/decisions/ADR-0002-rest-only-api.md
  docs/architecture/decisions/ADR-0010-openapi-3-2-kynos.md
  docs/architecture/decisions/README.md
  docs/architecture/kynos-migration-readiness.md
  docs/architecture/overview.md
  docs/requirements/non-functional.md
  docs/requirements/product.md
  docs/testing.md
Due: none

refactor(domain): unify the Clock seam in beam-domain and add IdGenerator
  Cargo.lock
  Cargo.toml
  beam-domain/Cargo.toml
  beam-domain/src/lib.rs
  beam-domain/src/services/clock.rs
  beam-domain/src/services/id.rs
  beam-domain/src/services/mod.rs
  beam-index/src/runtime.rs
  beam-index/src/services/clock.rs
  beam-index/src/services/enrichment/mod.rs
  beam-index/src/services/mod.rs
  beam-server/src/routes/rate_limit.rs
  beam-server/src/routes/rate_limit_tests.rs
  beam-server/src/state.rs
Due: rust-fmt

fix(entity): bind files.file_status as the Postgres enum it is
  beam-domain/src/models/file.rs
  beam-entity/src/files.rs
  beam-index/src/repositories/file.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: **/*.rs
  biome-check: any of: **/*.{ts,tsx,js,mjs,cjs,astro}
