Repository justin13888/Beam: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, biome-check

rust-fmt:
  run: cargo fmt --check
  fail_text: Run `cargo fmt` to fix Rust formatting

biome-check:
  run: bun biome check {staged_files}
  fail_text: Run `bun run check:fix` to auto-fix

docs: correct two comments that misdescribe the upstream gaps
  beam-client-core/build.rs
  beam-server/Cargo.toml
Due: rust-fmt

docs(agents): track kynos and spargen as releases, not git revisions
  AGENTS.md
  docs/architecture/decisions/ADR-0010-openapi-3-2-kynos.md
Due: none

docs: point the beam-web stand-down TODOs at #146
  .github/workflows/ci.yml
  beam-web/src/lib/apiClient.ts
  docs/architecture/api.md
  docs/architecture/components.md
  docs/architecture/kynos-migration-readiness.md
  docs/testing.md
  hk.pkl
  mise.toml
Due: biome-check

fix(build): select the Android command-line tools and system image by host
  mise.toml
Due: none

fix(build): stop the pre-push Xcode and Gradle steps racing each other
  hk.pkl
Due: none

fix(build): order the Xcode and Gradle tasks under mise run ci
  mise.toml
Due: none

feat(domain): add the ArtworkFetcher port and its in-memory double
  beam-domain/src/providers/artwork.rs
  beam-domain/src/providers/mod.rs
Due: rust-fmt

feat(index): fetch provider artwork over a bounded reqwest client
  Cargo.lock
  Cargo.toml
  beam-index/Cargo.toml
  beam-index/src/providers/artwork.rs
  beam-index/src/providers/mod.rs
Due: rust-fmt

feat(server): cache artwork on disk, keyed by upstream URL
  beam-server/src/services/artwork.rs
  beam-server/src/services/artwork_tests.rs
  beam-server/src/services/mod.rs
Due: rust-fmt

refactor(server): share the runtime-typed delivery between operations
  beam-server/src/routes/delivery.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/stream.rs
Due: rust-fmt

fix(server): stop declaring statuses no operation can produce
  beam-client-core/api/openapi.json
  beam-server/src/routes/admin.rs
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/auth.rs
  beam-server/src/routes/stream.rs
  beam-server/src/services/library.rs
  beam-web/openapi.json
Due: rust-fmt

build(compose)!: make the dev Dex opt-in and reachable from the server container
  compose.beam.yaml
  compose.dependencies.yaml
  dex/config.yaml
Due: none

fix(server): answer a malformed media or file id with 400, not 500
  beam-server/src/routes/admin.rs
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/media.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/services/library.rs
  beam-server/src/services/metadata.rs
  beam-server/src/services/metadata_tests.rs
Due: rust-fmt

feat(dev): add dev:up, dev:down and dev:verify-oidc tasks
  mise.toml
Due: none

docs: record the dev IdP as opt-in and drop the host-run workaround
  README.md
  beam-docs/src/content/docs/getting-started.mdx
  beam-docs/src/content/docs/install.mdx
  beam-docs/src/content/docs/operate/identity-and-access.mdx
  beam-docs/src/content/docs/operate/production.mdx
  beam-server/src/config.rs
  docs/architecture/security.md
  docs/operations/configuration.md
  docs/operations/deployment.md
  docs/requirements/functional.md
  docs/requirements/non-functional.md
  docs/testing.md
Due: rust-fmt

feat(server): serve artwork from /v1/artwork
  beam-client-core/api/openapi.json
  beam-client-core/build.rs
  beam-server/src/config.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/artwork.rs
  beam-server/src/routes/artwork_tests.rs
  beam-server/src/routes/auth_tests.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/mod.rs
  beam-server/src/routes/playback_tests.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/routes/test_support.rs
  beam-server/src/services/artwork.rs
  beam-server/src/state.rs
  beam-web/openapi.json
Due: rust-fmt

refactor(server)!: name every problem type after its domain condition
  beam-client-core/api/openapi.json
  beam-server/src/routes/admin.rs
  beam-server/src/routes/admin_tests.rs
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/auth.rs
  beam-server/src/routes/auth_tests.rs
  beam-server/src/routes/media.rs
  beam-server/src/routes/media_tests.rs
  beam-server/src/routes/metrics_mw.rs
  beam-server/src/routes/metrics_mw_tests.rs
  beam-server/src/routes/middleware.rs
  beam-server/src/routes/middleware_tests.rs
  beam-server/src/routes/playback.rs
  beam-server/src/routes/stream.rs
  beam-server/src/routes/stream_tests.rs
  beam-server/src/services/library.rs
  beam-server/src/services/library_tests.rs
  beam-server/src/services/playback.rs
  beam-web/openapi.json
Due: rust-fmt

feat(server)!: serve artwork URLs from Beam, not the provider CDN
  beam-client-core/api/openapi.json
  beam-client-core/src/catalog.rs
  beam-server/src/models/media/artwork.rs
  beam-server/src/models/media/mod.rs
  beam-server/src/models/media/show.rs
  beam-server/src/routes/artwork.rs
  beam-server/src/services/metadata.rs
  beam-server/src/services/metadata_tests.rs
  beam-web/openapi.json
Due: rust-fmt

fix(web): resolve artwork against the API origin
  beam-web/src/components/ContinueWatchingRow.tsx
  beam-web/src/lib/artwork.test.ts
  beam-web/src/lib/artwork.ts
  beam-web/src/routes/explore.test.tsx
  beam-web/src/routes/explore.tsx
  beam-web/src/routes/history.tsx
  beam-web/src/routes/media.$id.tsx
Due: biome-check

fix(client-core)!: classify server failures from the response, not a string
  Cargo.lock
  beam-client-core/Cargo.toml
  beam-client-core/src/catalog.rs
  beam-client-core/src/error.rs
  beam-client-core/src/ffi.rs
  beam-client-core/src/transport.rs
Due: rust-fmt

fix(apple): load artwork over the authenticated, trust-evaluated session
  beam-apple/Packages/BeamKit/Sources/BeamAppShell/AuthenticatedArtworkLoader.swift
  beam-apple/Packages/BeamKit/Sources/BeamAppShell/BeamRootView.swift
  beam-apple/Packages/BeamKit/Sources/BeamPlayback/NowPlayingCenter.swift
  beam-apple/Packages/BeamKit/Sources/BeamUI/ArtworkLoading.swift
  beam-apple/Packages/BeamKit/Sources/BeamUI/PosterImage.swift
  beam-apple/Packages/BeamKit/Sources/Features/BeamPlayer/PlayerModel.swift
Due: none

docs: serve artwork from Beam rather than the provider CDN
  beam-docs/src/content/docs/operate/metadata.mdx
  docs/architecture/api.md
  docs/architecture/components.md
  docs/architecture/data-model.md
  docs/architecture/decisions/ADR-0006-cameo-enrichment.md
  docs/architecture/decisions/ADR-0008-image-cdn-direct.md
  docs/architecture/decisions/ADR-0015-artwork-served-by-beam.md
  docs/architecture/decisions/README.md
  docs/architecture/security.md
  docs/operations/configuration.md
  docs/requirements/functional.md
  docs/requirements/non-functional.md
  docs/requirements/product.md
Due: none

feat(android): tell a missing source file from a missing title
  beam-android/core/ffi/src/main/kotlin/dev/beam/android/core/ffi/BeamErrors.kt
  beam-android/core/ffi/src/test/kotlin/dev/beam/android/core/ffi/BeamErrorsTest.kt
  beam-android/core/testing/src/main/kotlin/dev/beam/android/core/testing/FakeRepositories.kt
  beam-android/feature/admin/src/test/kotlin/dev/beam/android/feature/admin/AdminTest.kt
Due: none

feat(apple): tell a missing source file from a missing title
  beam-apple/Packages/BeamKit/Sources/BeamFFI/BeamFailure.swift
  beam-apple/Packages/BeamKit/Tests/BeamKitTests/BeamFailureTests.swift
Due: none

docs: publish the error taxonomy, and pin the page against the code
  beam-docs/src/content/docs/reference/errors.mdx
  beam-server/src/routes/mod.rs
  beam-server/src/routes/taxonomy_tests.rs
  docs/architecture/api.md
  docs/architecture/components.md
Due: rust-fmt

feat(web): render the server's explanation instead of a fixed string
  beam-web/src/components/ContinueWatchingRow.test.tsx
  beam-web/src/components/ContinueWatchingRow.tsx
  beam-web/src/components/RouteError.test.tsx
  beam-web/src/lib/problem.test.ts
  beam-web/src/lib/problem.ts
  beam-web/src/routes/admin.tsx
  beam-web/src/routes/explore.tsx
  beam-web/src/routes/history.test.tsx
  beam-web/src/routes/history.tsx
  beam-web/src/routes/index.tsx
  beam-web/src/routes/libraries.$id.test.tsx
  beam-web/src/routes/libraries.$id.tsx
  beam-web/src/routes/libraries.index.test.tsx
  beam-web/src/routes/libraries.index.tsx
  beam-web/src/routes/media.$id.test.tsx
  beam-web/src/routes/media.$id.tsx
  beam-web/src/routes/profile.test.tsx
  beam-web/src/routes/profile.tsx
  beam-web/src/test/handlers.ts
  beam-web/src/test/problem.ts
  beam-web/src/test/setup.ts
Due: biome-check

docs: record the three kynos gaps the taxonomy ran into
  beam-docs/src/content/docs/reference/errors.mdx
  beam-server/src/routes/api_error.rs
  beam-server/src/routes/rate_limit_tests.rs
  docs/architecture/api.md
  docs/architecture/kynos-migration-readiness.md
Due: rust-fmt

fix(server): keep internal rationale and narrow titles out of the document
  beam-client-core/api/openapi.json
  beam-server/src/routes/admin.rs
  beam-server/src/routes/middleware.rs
  beam-server/src/routes/stream.rs
  beam-web/openapi.json
Due: rust-fmt

fix(client-core): do not offer a retry for a failure that cannot succeed
  beam-client-core/src/ffi.rs
  beam-client-core/src/transport.rs
Due: rust-fmt

refactor(server): name the path validator double after what it produces
  beam-server/src/services/library.rs
  beam-server/src/services/library_tests.rs
Due: rust-fmt

fix(index): refuse a redirect once, not in two identical branches
  beam-index/src/providers/artwork.rs
  docs/architecture/decisions/ADR-0015-artwork-served-by-beam.md
Due: rust-fmt

fix(apple): keep the bare placeholder for a title with no artwork
  beam-apple/Packages/BeamKit/Sources/BeamUI/PosterImage.swift
Due: none

fix(server): reclaim the artwork cache file a format change strands
  beam-server/src/services/artwork.rs
  beam-server/src/services/artwork_tests.rs
Due: rust-fmt

docs: state what an artwork revalidation actually costs
  beam-server/src/routes/artwork.rs
  docs/architecture/decisions/ADR-0015-artwork-served-by-beam.md
Due: rust-fmt

fix(compose): declare the network dex attaches to
  compose.dependencies.yaml
Due: none

fix(dev): stop the dev tasks overriding configured ports and URLs
  mise.toml
Due: none

test(compose): gate the dev-IdP topology invariants in ci
  mise.toml
Due: none

docs: correct the dev issuer and re-home BEAM_COMPOSE
  beam-server/.env.example
  docs/operations/configuration.md
Due: none

test(server): find the declaring sources instead of listing them
  beam-server/src/routes/taxonomy_tests.rs
Due: rust-fmt

fix(web): judge a problem document by where it came from
  beam-web/src/lib/problem.test.ts
  beam-web/src/lib/problem.ts
Due: biome-check

Path conditions:
  rust-fmt: any of: **/*.rs
  biome-check: any of: **/*.{ts,tsx,js,mjs,cjs,astro}
