Repository justin13888/Beam: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, biome-check

rust-fmt:
  run: cargo fmt --check
  fail_text: Run `cargo fmt` to fix Rust formatting

biome-check:
  run: bun biome check {staged_files}
  fail_text: Run `bun run check:fix` to auto-fix

Fix lint
  beam-auth/src/server/routes.rs
  beam-auth/src/utils/service_tests.rs
Due: rust-fmt

Fix lint
  beam-stream/src/services/transcode_tests.rs
Due: rust-fmt

feat(beam-index): add test-utils in-memory repository implementations
  beam-index/src/repositories/file.rs
  beam-index/src/repositories/show.rs
  beam-index/src/repositories/stream.rs
Due: rust-fmt

feat(beam-stream): expand LibraryService unit tests
  beam-stream/src/services/library_tests.rs
Due: rust-fmt

test(beam-index): add classify_media_content unit tests
  beam-index/src/services/index.rs
Due: rust-fmt

test(beam-index): add LocalIndexService.scan_library integration tests
  beam-index/src/services/index.rs
Due: rust-fmt

feat(beam-index): add insert_media_streams unit tests
  beam-index/src/services/index.rs
Due: rust-fmt

feat(beam-auth): add subcutaneous HTTP tests for auth REST routes
  beam-auth/src/server/routes.rs
  beam-auth/src/server/routes_tests.rs
Due: rust-fmt

feat(beam-stream): add GraphQL resolver tests for library, media, and admin
  beam-stream/src/graphql/mod.rs
  beam-stream/src/graphql/resolver_tests.rs
Due: rust-fmt

feat(beam-stream): add subcutaneous HTTP tests for stream routes and fix path param syntax
  beam-stream/src/routes/mod.rs
  beam-stream/src/routes/stream.rs
  beam-stream/src/routes/stream_tests.rs
Due: rust-fmt

test(beam-index): add AdminLog and notification event assertions to scan_library tests
  beam-index/src/services/index.rs
Due: rust-fmt

feat(beam-stream): stream MP4 range responses lazily in 128 KiB chunks
  beam-stream/src/routes/stream.rs
Due: rust-fmt

feat(stream): move stream token from URL query param to Authorization header
  beam-stream/src/routes/mod.rs
  beam-stream/src/routes/stream.rs
  beam-web/src/routes/media.$id.tsx
  biome.json
Due: rust-fmt, biome-check

feat(beam-auth): add POST /logout-all and GET /sessions endpoints
  beam-auth/src/server/routes.rs
  beam-auth/src/server/routes_tests.rs
Due: rust-fmt

fix(stream-tests): update stream_mp4 tests to use Authorization header
  beam-stream/src/routes/stream_tests.rs
Due: rust-fmt

fix(stream): declare StreamTokenResponse body in OpenAPI annotation
  beam-stream/src/routes/stream.rs
Due: rust-fmt

fix(stream): document Authorization header in get_stream_token OpenAPI annotation
  beam-stream/src/routes/stream.rs
Due: rust-fmt

feat(beam-web): set up vitest with test infrastructure and unit tests for auth/login/apiClient
  beam-web/package.json
  beam-web/src/hooks/auth.test.tsx
  beam-web/src/lib/apiClient.test.ts
  beam-web/src/routes/login.test.tsx
  beam-web/src/routes/login.tsx
  beam-web/src/test/handlers.ts
  beam-web/src/test/server.ts
  beam-web/src/test/setup.ts
  beam-web/tsconfig.json
  beam-web/vitest.config.ts
  bun.lock
Due: biome-check

feat(web): add React error boundaries and fix inline Apollo errors
  beam-web/src/components/RouteError.tsx
  beam-web/src/routes/__root.tsx
  beam-web/src/routes/admin.tsx
  beam-web/src/routes/libraries.$id.tsx
  beam-web/src/routes/libraries.tsx
Due: biome-check

fix(web): pass Authorization in params.header for stream token request
  beam-web/src/routes/media.$id.tsx
Due: biome-check

fix(beam-web): move Authorization header into params.header for stream token endpoint
  beam-web/src/routes/media.$id.tsx
Due: biome-check

fix(beam-web): pass Authorization in params.header for stream token POST
  beam-web/src/routes/media.$id.tsx
Due: biome-check

refactor: remove beam_domain re-export shims from beam-index and beam-stream
  beam-index/src/lib.rs
  beam-index/src/models/domain/mod.rs
  beam-index/src/models/mod.rs
  beam-index/src/repositories/admin_log.rs
  beam-index/src/repositories/file.rs
  beam-index/src/repositories/library.rs
  beam-index/src/repositories/mod.rs
  beam-index/src/repositories/movie.rs
  beam-index/src/repositories/show.rs
  beam-index/src/repositories/stream.rs
  beam-index/src/services/admin_log.rs
  beam-index/src/services/index.rs
  beam-stream/src/graphql/auth_tests.rs
  beam-stream/src/graphql/resolver_tests.rs
  beam-stream/src/graphql/schema/admin/queries.rs
  beam-stream/src/lib.rs
  beam-stream/src/models/domain/mod.rs
  beam-stream/src/models/library/file.rs
  beam-stream/src/models/mod.rs
  beam-stream/src/repositories/mod.rs
  beam-stream/src/routes/stream.rs
  beam-stream/src/routes/stream_tests.rs
  beam-stream/src/services/library.rs
  beam-stream/src/services/library_tests.rs
  beam-stream/src/services/metadata.rs
  beam-stream/src/services/metadata_tests.rs
  beam-stream/src/state.rs
Due: rust-fmt

refactor: typed Result<T, E> returns with structured JSON errors on REST endpoints
  beam-auth/src/server/error.rs
  beam-auth/src/server/mod.rs
  beam-auth/src/server/routes.rs
  beam-auth/src/server/routes_tests.rs
  beam-stream/src/routes/stream.rs
Due: rust-fmt

refactor: replace ErrorBody with plain String errors and granular status codes
  beam-auth/src/server/error.rs
  beam-auth/src/server/mod.rs
  beam-auth/src/server/routes.rs
  beam-auth/src/server/routes_tests.rs
  beam-stream/src/routes/stream.rs
Due: rust-fmt

Update AGENTS.md
  AGENTS.md
Due: none

build: migrate to Bazel build system
  .bazelrc
  .bazelrc.user.example
  .bazelversion
  .github/actions/install-rust-build-deps/action.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/rust.yml
  .github/workflows/typescript.yml
  .gitignore
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bazel
  beam-auth/BUILD.bazel
  beam-docs/BUILD.bazel
  beam-domain/BUILD.bazel
  beam-entity/BUILD.bazel
  beam-index/BUILD.bazel
  beam-index/proto/BUILD.bazel
  beam-index/src/models/domain/mod.rs
  beam-index/src/models/mod.rs
  beam-migration/BUILD.bazel
  beam-stream/BUILD.bazel
  beam-stream/src/models/domain/mod.rs
  beam-stream/src/repositories/mod.rs
  beam-web/BUILD.bazel
  beam-web/src/test/setup.ts
  third_party/ffmpeg/BUILD.bazel
Due: rust-fmt, biome-check

refactor: remove dead stubs and consolidate shared utils into beam-domain
  Cargo.lock
  beam-domain/Cargo.toml
  beam-domain/src/lib.rs
  beam-domain/src/utils/color.rs
  beam-domain/src/utils/file.rs
  beam-domain/src/utils/format.rs
  beam-domain/src/utils/hash.rs
  beam-domain/src/utils/media.rs
  beam-domain/src/utils/metadata.rs
  beam-domain/src/utils/mod.rs
  beam-index/src/models/domain/mod.rs
  beam-index/src/models/mod.rs
  beam-index/src/utils/mod.rs
  beam-stream/src/models/domain/mod.rs
  beam-stream/src/repositories/mod.rs
  beam-stream/src/utils/color.rs
  beam-stream/src/utils/file.rs
  beam-stream/src/utils/format.rs
  beam-stream/src/utils/hash.rs
  beam-stream/src/utils/media.rs
  beam-stream/src/utils/metadata.rs
  beam-stream/src/utils/mod.rs
Due: rust-fmt

feat: add MetadataProvider trait, fix bit-rate types, expand color formats
  Cargo.lock
  beam-domain/Cargo.toml
  beam-domain/src/lib.rs
  beam-domain/src/providers/metadata.rs
  beam-domain/src/providers/mod.rs
  beam-domain/src/utils/color.rs
  beam-domain/src/utils/metadata.rs
  beam-index/src/services/index.rs
  beam-stream/src/models/media/stream.rs
  beam-stream/src/services/metadata.rs
  beam-stream/src/utils/stream/config.rs
  beam-stream/src/utils/stream/hls.rs
Due: rust-fmt

docs: simplify AGENTS.md and remove task management requirements
  AGENTS.md
Due: none

fix: bump ffmpeg-next to 8.1 for system FFmpeg 8.1 compatibility
  Cargo.lock
  Cargo.toml
Due: none

feat(beam-index): add fs-watcher, mtime change detection, and dedup
  Cargo.lock
  beam-domain/src/models/file.rs
  beam-domain/src/repositories/file.rs
  beam-domain/src/repositories/stream.rs
  beam-entity/src/files.rs
  beam-index/Cargo.toml
  beam-index/src/config.rs
  beam-index/src/main.rs
  beam-index/src/repositories/file.rs
  beam-index/src/repositories/stream.rs
  beam-index/src/services/clock.rs
  beam-index/src/services/index.rs
  beam-index/src/services/mod.rs
  beam-index/src/services/watcher.rs
  beam-migration/src/lib.rs
  beam-migration/src/m20260522_000001_add_file_mtime.rs
  beam-stream/src/graphql/schema/media/mutations.rs
  beam-stream/src/main.rs
  beam-stream/src/models/library/file.rs
  beam-stream/src/models/media/movie.rs
  beam-stream/src/models/media/show.rs
  beam-stream/src/routes/stream.rs
  beam-stream/src/routes/stream_tests.rs
  beam-stream/src/services/library_tests.rs
  beam-stream/src/services/metadata.rs
  beam-stream/src/services/metadata_tests.rs
  beam-stream/src/utils/stream/mod.rs
  beam-web/src/routes/explore.tsx
  beam-web/src/routes/media.$id.tsx
Due: rust-fmt, biome-check

build: add vendored-ffmpeg feature for hermetic local dev/test builds
  .cargo/config.toml
  beam-domain/Cargo.toml
  beam-index/Cargo.toml
  beam-stream/Cargo.toml
Due: none

docs: ratify requirements (FRs/NFRs)
  docs/requirements/functional.md
  docs/requirements/non-functional.md
  docs/requirements/product.md
Due: none

docs: ratify architecture and record ADRs
  docs/architecture/api.md
  docs/architecture/data-model.md
  docs/architecture/decisions/ADR-0001-modular-monolith.md
  docs/architecture/decisions/ADR-0002-rest-only-api.md
  docs/architecture/decisions/ADR-0003-oidc-bff-auth.md
  docs/architecture/decisions/ADR-0004-never-transcode.md
  docs/architecture/decisions/ADR-0005-sessions-in-postgres.md
  docs/architecture/decisions/ADR-0006-cameo-enrichment.md
  docs/architecture/decisions/ADR-0007-vendored-ffmpeg-local-dev.md
  docs/architecture/decisions/ADR-0008-image-cdn-direct.md
  docs/architecture/decisions/README.md
  docs/architecture/overview.md
  docs/architecture/security.md
  docs/architecture/streaming.md
Due: none

docs: ratify component owner docs
  docs/components/docs-site.md
  docs/components/domain.md
  docs/components/indexer.md
  docs/components/persistence.md
  docs/components/server.md
  docs/components/web.md
Due: none

docs: ratify testing strategy and operations runbooks
  docs/README.md
  docs/operations/ci.md
  docs/operations/configuration.md
  docs/operations/deployment.md
  docs/operations/dev-setup.md
  docs/operations/e2e-validation.md
  docs/testing/coverage.md
  docs/testing/strategy.md
Due: none

refactor(domain): move ffmpeg utils into beam-index prober; drop ffmpeg dependency from beam-domain
  .cargo/config.toml
  Cargo.lock
  beam-domain/Cargo.toml
  beam-domain/src/utils/mod.rs
  beam-index/Cargo.toml
  beam-index/src/lib.rs
  beam-index/src/probe/color.rs
  beam-index/src/probe/format.rs
  beam-index/src/probe/media.rs
  beam-index/src/probe/metadata.rs
  beam-index/src/probe/mod.rs
  beam-index/src/services/hash.rs
  beam-index/src/services/index.rs
  beam-index/src/services/media_info.rs
  beam-index/src/utils/mod.rs
  beam-stream/Cargo.toml
  beam-stream/src/utils/mod.rs
Due: rust-fmt

refactor(index): collapse gRPC indexer into in-process service
  Cargo.lock
  Cargo.toml
  beam-index/Cargo.toml
  beam-index/build.rs
  beam-index/proto/beam_index.proto
  beam-index/src/config.rs
  beam-index/src/grpc.rs
  beam-index/src/lib.rs
  beam-index/src/runtime.rs
  beam-index/src/services/index.rs
  beam-stream/Cargo.toml
  beam-stream/src/config.rs
  beam-stream/src/graphql/auth_tests.rs
  beam-stream/src/graphql/resolver_tests.rs
  beam-stream/src/main.rs
  beam-stream/src/routes/stream.rs
  beam-stream/src/routes/stream_tests.rs
  beam-stream/src/services/grpc_index.rs
  beam-stream/src/services/mod.rs
  beam-stream/src/state.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: **/*.rs
  biome-check: any of: **/*.{ts,tsx,js,mjs,cjs,astro}
